{
    "ctrlrInst": {
        "attributes": {
            "dn": "uni/controller"
        },
        "children": [
            {
                "fabricSetupPol": {
                    "attributes": {
                        "dn": "uni/controller/setuppol"
                    },
                    "children": [
                        {%- set comma1 = joiner(",") %}
                        {%- for pod in apic.pod_policies.pods | default([]) %}{{ comma1() }}
                        {
                            "fabricSetupP": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "dn": "uni/controller/setuppol/setupp-{{ pod.id }}",
                                    "podId": "{{ pod.id }}",
                                    "podType": "physical"
                                    {%- if pod.id != 1 %},
                                    "tepPool": "{{ pod.tep_pool }}"
                                    {% endif %} 
                                },
                                "children": [
                                    {%- set comma2 = joiner(",") %}
                                    {%- for extpool in pod.external_tep_pools | default([]) %}{{ comma2() }}
                                    {
                                        "fabricExtRoutablePodSubnet": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "pool": "{{ extpool.prefix }}",
                                                "reserveAddressCount": "{{ extpool.reserved_address_count }}"
                                            }
                                        }
                                    }
                                    {%- endfor %}
                                    {%- for rlpool in pod.remote_pools | default([]) %}{{ comma2() }}
                                    {
                                        "fabricExtSetupP": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "extPoolId": "{{ rlpool.id }}",
                                                "tepPool": "{{ rlpool.remote_pool }}"
                                            }
                                        }
                                    }
                                    {%- endfor %}

                                ]
                            }
                        }
                        {%- endfor %}

                    ]
                }
            }
        ]
    }
}
