{% set ns = namespace(sites = 0) %}
{% for site in mso.sites | default([]) %}
    {% if site.multisite | default(defaults.mso.sites.multisite) == "enabled" %}
        {% set ns.sites = ns.sites + 1 %}
    {% endif %}
{% endfor %}
{
    {% if ns.sites > 0 %}
    "controlPlaneBgpConfig": {
        "peeringType": "{{ mso.fabric_connectivity.bgp.peering_type | default(defaults.mso.fabric_connectivity.bgp.peering_type) }}",
        "ttl": {{ mso.fabric_connectivity.bgp.ttl | default(defaults.mso.fabric_connectivity.bgp.ttl) }},
        "keepAliveInterval": {{ mso.fabric_connectivity.bgp.keepalive_interval | default(defaults.mso.fabric_connectivity.bgp.keepalive_interval) }},
        "holdInterval": {{ mso.fabric_connectivity.bgp.hold_interval | default(defaults.mso.fabric_connectivity.bgp.hold_interval) }},
        "staleInterval": {{ mso.fabric_connectivity.bgp.stale_interval | default(defaults.mso.fabric_connectivity.bgp.stale_interval) }},
        "gracefulRestartEnabled": {% if mso.fabric_connectivity.bgp.graceful_restart | default(defaults.mso.fabric_connectivity.bgp.graceful_restart) == "enabled" %}true{% else %}false{% endif %},
        "maxAsLimit": {{ mso.fabric_connectivity.bgp.max_as | default(defaults.mso.fabric_connectivity.bgp.max_as) }}
    },
    "sites": [
        {%- set comma1 = joiner(",") %}
        {%- for site in mso.sites | default([]) %}{{ comma1() }}
        {% if site.multisite | default(defaults.mso.sites.multisite) == "enabled" %}
        {% set routed_domain_name = site.routed_domain | default() ~ defaults.mso.sites.routed_domain_suffix %}
        {
            "id": "%%sites%{{ site.name }}%%",
            "apicSiteId": {{ site.id }},
            "platform": "on-premise",
            "fabricId": 1,
            "msiteEnabled": {% if site.multisite | default(defaults.mso.sites.multisite) == "enabled" %}true{% else %}false{% endif %},
            "msiteDataPlaneMulticastTep": "{{ site.multicast_tep | default() }}",
            "bgpAsn": {{ site.bgp.as | default() }},
            "bgpPassword": "{{ site.bgp.password | default() }}",
            "ospfAreaId": "{{ site.ospf.area_id | default(defaults.mso.sites.ospf.area_id) }}",
            "ospfAreaType": "{{ site.ospf.area_type | default(defaults.mso.sites.ospf.area_type) }}",
            "externalRoutedDomain": "uni/l3dom-{{ routed_domain_name }}",
            "ospfPolicies": [
                {%- set comma2 = joiner(",") %}
                {%- for pol in site.ospf_policies | default([]) %}{{ comma2() }}
                {% set ctrl = [] %}
                {% if pol.advertise_subnet | default(defaults.mso.sites.ospf_policies.advertise_subnet) == "enabled" %}{% set ctrl = ctrl + [('"advertise-subnet"')] %}{% endif %}
                {% if pol.bfd | default(defaults.mso.sites.ospf_policies.bfd) == "enabled" %}{% set ctrl = ctrl + [('"bfd"')] %}{% endif %}
                {% if pol.mtu_ignore | default(defaults.mso.sites.ospf_policies.mtu_ignore) == "enabled" %}{% set ctrl = ctrl + [('"mtu-ignore"')] %}{% endif %}
                {% if pol.passive_interface | default(defaults.mso.sites.ospf_policies.passive_interface) == "enabled" %}{% set ctrl = ctrl + [('"passive-participation"')] %}{% endif %}
                {% set pol_name = pol.name ~ defaults.mso.sites.ospf_policies.name_suffix %}
                {
                    "name": "{{ pol_name }}",
                    "networkType": "{{ pol.network_type | default(defaults.mso.sites.ospf_policies.network_type) }}",
                    "priority": {{ pol.priority | default(defaults.mso.sites.ospf_policies.priority) }},
                    "interfaceCost": {{ pol.interface_cost | default(defaults.mso.sites.ospf_policies.interface_cost) }},
                    "interfaceControls": [{{ ctrl | join(',') }}],
                    "helloInterval": {{ pol.hello_interval | default(defaults.mso.sites.ospf_policies.hello_interval) }},
                    "deadInterval": {{ pol.dead_interval | default(defaults.mso.sites.ospf_policies.dead_interval) }},
                    "retransmitInterval": {{ pol.retransmit_interval | default(defaults.mso.sites.ospf_policies.retransmit_interval) }},
                    "transmitDelay": {{ pol.retransmit_delay | default(defaults.mso.sites.ospf_policies.retransmit_delay) }}
                }
                {%- endfor %}

            ],
            "pods": [
                {%- set comma2 = joiner(",") %}
                {%- for pod in site.pods | default([]) %}{{ comma2() }}
                {
                    "podId": {{ pod.id | default(defaults.sites.pods.id) }},
                    "name": "pod-{{ pod.id | default(defaults.sites.pods.id) }}",
                    "msiteDataPlaneUnicastTep": "{{ pod.unicast_tep | default() }}",
                    "spines": [
                        {%- set comma3 = joiner(",") %}
                        {%- for spine in pod.spines | default([]) %}{{ comma3() }}
                        {
                            "nodeId": {{ spine.id }},
                            "name": "{{ spine.name }}",
                            "ports": [
                                {%- set comma4 = joiner(",") %}
                                {%- for interface in spine.interfaces | default([]) %}{{ comma4() }}
                                {% set pol_name = interface.ospf.policy ~ defaults.mso.sites.ospf_policies.name_suffix %}
                                {
                                    "portId": "{{ interface.module | default(defaults.mso.sites.pods.spines.interfaces.module) }}/{{ interface.port }}",
                                    "ipAddress": "{{ interface.ip }}",
                                    "mtu": "{{ interface.mtu | default(defaults.mso.sites.pods.spines.interfaces.mtu) }}",
                                    "routingPolicy": "{{ pol_name }}",
                                    "ospfAuthType": "{{ interface.ospf.authentication_type | default(defaults.mso.sites.pods.spines.interfaces.ospf.authentication_type) }}",
                                    "ospfAuthKey": "{{ interface.ospf.authentication_key | default() }}",
                                    "ospfAuthKeyId": {{ interface.ospf.authentication_key_id | default(defaults.mso.sites.pods.spines.interfaces.ospf.authentication_key_id) }}
                                }
                                {%- endfor %}

                            ],
                            "bgpPeeringEnabled": {% if spine.bgp_peering | default(defaults.mso.sites.pods.spines.bgp_peering) == "enabled" %}true{% else %}false{% endif %},
                            "msiteControlPlaneTep": "{{ spine.control_plane_tep }}",
                            "routeReflectorEnabled": {% if spine.bgp_route_reflector | default(defaults.mso.sites.pods.spines.bgp_route_reflector) == "enabled" %}true{% else %}false{% endif %},
                            "faults": []
                        }
                        {%- endfor %}

                    ],
                    "msiteDataPlaneRoutableTEPPools": [],
                    "faults": []
                }
                {%- endfor %}

            ],
            "cloudRegions": [],
            "faults": []
        }
        {%- endif %}
        {%- endfor %}

    ]
    {% endif %}
}
