{# iterate_list_folder mso.users username item #}
{% set query = "users[?username==`" ~ item ~ "`]" %}
{% set user = (mso | community.general.json_query(query))[0] %}
{
    "username": "{{ user.username }}",
    "password": "{{ user.password }}",
    "firstName": "{{ user.first_name }}",
    "lastName": "{{ user.last_name }}",
    "emailAddress": "{{ user.email_address }}",
    "phoneNumber": "{{ user.phone_number | default() }}",
    "accountStatus": "{{ user.status | default(defaults.mso.users.status) }}",
    "roles": [
        {%- set comma1 = joiner(",") %}
        {%- for role in user.roles | default([]) %}{{ comma1() }}
        {
            "roleId": "%%roles%{{ role.role }}%%",
            "accessType": "{{ role.access | default(defaults.mso.users.roles.access) }}"
        }
        {%- endfor %}

    ],
    "domainId": "%%auth/domains%Local%%"
}