ansible-core>=2.12
filelock
iac-validate>=0.1.6
iac-test>=0.1.5
jmespath
jsonpath_ng
nexus-pcv>=0.1.0
pyopenssl
python-dateutil
requests
requests-toolbelt
ruamel.yaml
RESTinstance
robotframework>=4.0
robotframework-pabot
