ansible-core>=2.12
ansible-lint
black
click
filelock
flake8
iac-validate>=0.1.4
iac-test>=0.1.2
jmespath
jsonpath_ng
mkdocs
mkdocs-material
mkdocs-mermaid2-plugin
molecule
pyopenssl
pytest
pytest-mock
python-dateutil
PyVmomi
requests
requests-toolbelt
ruamel.yaml
RESTinstance
robotframework>=4.0
robotframework-pabot
tftest
yamllint
