ansible-core>=2.12
ansible-lint
black
click
filelock
flake8
iac-validate>=0.2.2
iac-test>=0.2.2
jmespath
jsonpath_ng
mkdocs
mkdocs-material
molecule
nexus-pcv>=0.1.5
pyopenssl
pytest
pytest-mock
python-dateutil
pyvmomi>=6.7,<8
requests
requests-toolbelt
ruamel.yaml
RESTinstance
robotframework>=4.0
robotframework-pabot
tftest
yamllint
