{
    "fvTenant": {
        "attributes": {
            "dn": "uni/tn-mgmt",
            "name": "mgmt"
        },
        "children": [
            {
                "mgmtMgmtP": {
                    "attributes": {
                        "dn": "uni/tn-mgmt/mgmtp-default",
                        "name": "default"
                    },
                    "children": [
                        {
                            {% set ns = namespace(found=false) %}
                            {% for node in apic.node_policies.nodes | default([]) %}
                            {% if node.inb_address is defined %}
                            {% set ns.found = true %}
                            {% endif %}
                            {% endfor %}
                            {% if ns.found is sameas true %}
                            "mgmtInB": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "dn": "uni/tn-mgmt/mgmtp-default/inb-{{ apic.node_policies.inb_endpoint_group | default(defaults.apic.node_policies.inb_endpoint_group) }}",
                                    "name": "{{ apic.node_policies.inb_endpoint_group | default(defaults.apic.node_policies.inb_endpoint_group) }}"
                                },
                                "children": [
                                    {%- set comma1 = joiner(",") %}
                                    {%- for node in apic.node_policies.nodes | default([]) %}
                                    {%- if node.inb_address is defined %}{{ comma1() }}
                                    {
                                        "mgmtRsInBStNode": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "dn": "uni/tn-mgmt/mgmtp-default/inb-{{ apic.node_policies.inb_endpoint_group | default(defaults.apic.node_policies.inb_endpoint_group) }}/rsinBStNode-[topology/pod-{{ node.pod | default(defaults.apic.node_policies.nodes.pod) }}/node-{{ node.id }}]",
                                                "addr": "{{ node.inb_address }}",
                                                "gw": "{{ node.inb_gateway }}",
                                                "tDn": "topology/pod-{{ node.pod | default(defaults.apic.node_policies.nodes.pod) }}/node-{{ node.id }}"
                                            }
                                        }
                                    }
                                    {%- endif %}
                                    {%- endfor %}

                                ]
                            }
                            {% endif %}
                        }
                    ]
                }
            }
        ]
    }
}
