{
    "fabricInst": {
        "attributes": {
            "dn": "uni/fabric"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- for group in apic.node_policies.update_groups | default([]) %}{{ comma1() }}
            {% set update_group_name = group.name ~ defaults.apic.node_policies.update_groups.name_suffix %}
            {
                "maintMaintP": {
                    "attributes": {
                        "adminSt": "untriggered",
                        "graceful": "no",
                        "name": "{{ update_group_name }}",
                        "dn": "uni/fabric/maintpol-{{ update_group_name }}",
                        "notifCond": "notifyOnlyOnFailures",
                        "runMode": "pauseOnlyOnFailures"
                    },
                    "children": [
                        {
                            "maintRsPolScheduler": {
                                "attributes": {
                                    {% if group.scheduler is defined%}
                                        {% set scheduler_name = group.scheduler ~ defaults.apic.fabric_policies.schedulers.name_suffix %}
                                    {% endif %}
                                    "tnTrigSchedPName": "{{ group.scheduler_name | default(defaults.apic.node_policies.update_groups.scheduler) }}"
                                }
                            }
                        }
                    ]
                }
            },
            {
                "maintMaintGrp": {
                    "attributes": {
                        "name": "{{ update_group_name }}",
                        "dn": "uni/fabric/maintgrp-{{ update_group_name }}",
                        "type": "range",
                        "childAction": "deleteNonPresent"
                    },
                    "children": [
                        {
                            "maintRsMgrpp": {
                                "attributes": {
                                    "tnMaintMaintPName": "{{ update_group_name }}"
                                }
                            }
                        }
                        {%- for node in apic.node_policies.nodes | default([]) %}
                        {%- if node.update_group is defined and node.update_group == update_group_name %},
                        {
                            "fabricNodeBlk": {
                                "attributes": {
                                    "from_": "{{ node.id }}",
                                    "name": "{{ node.id }}",
                                    "to_": "{{ node.id }}"
                                }
                            }
                        }
                        {%- endif %}
                        {%- endfor %}

                    ]
                }
            }
            {%- endfor %}{{ comma1() }}
            {
                "trigSchedP": {
                    "attributes": {
                        "dn": "uni/fabric/schedp-default",
                        "name": "default"
                    }
                }
            }
        ]
    }
}