{# iterate_list apic.tenants name item[2] #}
{% set tenant = ((apic | default()) | community.general.json_query('tenants[?name==`' ~ item[2] ~ '`]'))[0] %}
{
    "fvTenant": {
        "attributes": {
            "dn": "uni/tn-{{ tenant.name }}",
            "name": "{{ tenant.name }}"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- for ap in tenant.application_profiles | default([]) %}{{ comma1() }}
            {% set ap_name = ap.name ~ defaults.apic.tenants.application_profiles.name_suffix %}
            {
                "fvAp": {
                    "attributes": {
                        "annotation": {% if ap.ndo_managed | default(defaults.apic.tenants.application_profiles.ndo_managed) %}"orchestrator:msc-shadow:no"{% else %}"orchestrator:aac"{% endif %},
                        "name": "{{ ap_name }}",
                        "dn": "uni/tn-{{ tenant.name }}/ap-{{ ap_name }}",
                        "nameAlias": "{{ ap.alias | default() }}",
                        "descr": "{{ ap.description | default() }}"
                    }
                }
            }
            {%- endfor %}

        ]
    }
}
