{# iterate_list apic.tenants name item[2] #}
{% set tenant = ((apic | default()) | community.general.json_query('tenants[?name==`' ~ item[2] ~ '`]'))[0] %}
{
    "fvTenant": {
        "attributes": {
            "dn": "uni/tn-{{ tenant.name }}",
            "name": "{{ tenant.name }}"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- for bfd in tenant.policies.bfd_interface_policies | default([]) %}{{ comma1() }}
            {% set bfd_name = bfd.name ~ defaults.apic.tenants.policies.bfd_interface_policies.name_suffix %}
            {
                "bfdIfPol": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "name": "{{ bfd_name }}",
                        "descr": "{{ bfd.description | default() }}",
                        "dn": "uni/tn-{{ tenant.name }}/bfdIfPol-{{ bfd_name }}",
                        "ctrl": "{{ 'opt-subif' if bfd.subinterface_optimization | default(defaults.apic.tenants.policies.bfd_interface_policies.subinterface_optimization) | cisco.aac.aac_bool("enabled") == "enabled" else ''}}",
                        "detectMult": "{{ bfd.detection_multiplier | default(defaults.apic.tenants.policies.bfd_interface_policies.detection_multiplier) }}",
                        "echoAdminSt": "{{ bfd.echo_admin_state | default(defaults.apic.tenants.policies.bfd_interface_policies.echo_admin_state) | cisco.aac.aac_bool("enabled") }}",
                        "echoRxIntvl": "{{ bfd.echo_rx_interval | default(defaults.apic.tenants.policies.bfd_interface_policies.echo_rx_interval) }}",
                        "minRxIntvl": "{{ bfd.min_rx_interval | default(defaults.apic.tenants.policies.bfd_interface_policies.min_rx_interval) }}",
                        "minTxIntvl": "{{ bfd.min_tx_interval | default(defaults.apic.tenants.policies.bfd_interface_policies.min_tx_interval) }}"
                    }
                }
            }
            {%- endfor %}

        ]
    }
}
