{# iterate_list apic.tenants name item[2] #}
{% set tenant = ((apic | default()) | community.general.json_query('tenants[?name==`' ~ item[2] ~ '`]'))[0] %}
{
    "fvTenant": {
        "attributes": {
            "dn": "uni/tn-{{ tenant.name }}",
            "name": "{{ tenant.name }}"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- for bt in tenant.policies.bgp_timer_policies | default([]) %}{{ comma1() }}
            {% set bgp_timer_name = bt.name ~ defaults.apic.tenants.policies.bgp_timer_policies.name_suffix %}
            {

                "bgpCtxPol": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "name": "{{ bgp_timer_name }}",
                        "descr": "{{ bt.description | default() }}",
                        "dn": "uni/tn-{{ tenant.name }}/bgpCtxP-{{ bgp_timer_name }}",
                        "grCtrl": "{% if bt.graceful_restart_helper | default(defaults.apic.tenants.policies.bgp_timer_policies.graceful_restart_helper) | cisco.aac.aac_bool("enabled") == "enabled" %}helper{% elif bt.graceful_restart_helper | default(defaults.apic.tenants.policies.bgp_timer_policies.graceful_restart_helper) | cisco.aac.aac_bool("enabled") == "disabled" %}{% endif %}",
                        "holdIntvl": "{{ bt.hold_interval | default(defaults.apic.tenants.policies.bgp_timer_policies.hold_interval) }}",
                        "kaIntvl": "{{ bt.keepalive_interval | default(defaults.apic.tenants.policies.bgp_timer_policies.keepalive_interval) }}",
                        "maxAsLimit": "{{ bt.maximum_as_limit | default(defaults.apic.tenants.policies.bgp_timer_policies.maximum_as_limit) }}",
                        "staleIntvl": "{{ bt.stale_interval | default(defaults.apic.tenants.policies.bgp_timer_policies.stale_interval) }}"
                    }
                }
            }
            {%- endfor %}

        ]
    }
}
