{% set tenant = ((apic | default()) | json_query('tenants[?name==`' ~ item[2] ~ '`]'))[0] %}
{
    "fvTenant": {
        "attributes": {
            "dn": "uni/tn-{{ tenant.name }}",
            "name": "{{ tenant.name }}"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- for dsp in tenant.services.device_selection_policies | default([]) %}{{ comma1() }}
            {% set query = "service_graph_templates[?name==`" ~ dsp.service_graph_template ~ "`]" %}
            {% set sgt = (tenant.services | json_query(query))[0] %}
            {% set contract_name = dsp.contract ~ defaults.apic.tenants.contracts.name_suffix %}
            {% set sgt_name = dsp.service_graph_template ~ defaults.apic.tenants.services.service_graph_templates.name_suffix %}
            {% set dev_name = sgt.device.name ~ defaults.apic.tenants.services.l4l7_devices.name_suffix %}
            {
                "vnsLDevCtx": {
                    "attributes": {
                        "dn": "uni/tn-{{ tenant.name }}/ldevCtx-c-{{ contract_name }}-g-{{ sgt_name }}-n-N1",
                        "ctrctNameOrLbl": "{{ contract_name }}",
                        "graphNameOrLbl": "{{ sgt_name }}",
                        "nodeNameOrLbl": "N1",
                        "childAction": "deleteNonPresent"
                    },
                    "children": [
                        {
                            "vnsRsLDevCtxToLDev": {
                                "attributes": {
                                    "tDn": "uni/tn-{{ sgt.device.tenant | default(tenant.name) }}/lDevVip-{{ dev_name }}"
                                }
                            }
                        },
                        {
                            "vnsLIfCtx": {
                                "attributes": {
                                    "connNameOrLbl": "consumer",
                                    "l3Dest": "{{ 'yes' if dsp.consumer.l3_destination | default(defaults.apic.tenants.services.device_selection_policies.consumer.l3_destination)  == 'enabled' else 'no'}}",
                                    "permitLog": "{{ 'yes' if dsp.consumer.permit_logging | default(defaults.apic.tenants.services.device_selection_policies.consumer.permit_logging)  == 'enabled' else 'no'}}",
                                    "childAction": "deleteNonPresent"
                                },
                                "children": [
                                    {% if dsp.consumer.redirect_policy is defined %}
                                    {% set pol_name = dsp.consumer.redirect_policy.name ~ defaults.apic.tenants.services.redirect_policies.name_suffix %}
                                    {
                                        "vnsRsLIfCtxToSvcRedirectPol": {
                                            "attributes": {
                                                "tDn": "uni/tn-{{ dsp.consumer.redirect_policy.tenant | default(tenant.name) }}/svcCont/svcRedirectPol-{{ pol_name }}"
                                            }
                                        }
                                    },
                                    {% endif %}
                                    {% if dsp.consumer.bridge_domain is defined %}
                                    {% set bd_name = dsp.consumer.bridge_domain.name ~ defaults.apic.tenants.bridge_domains.name_suffix %}
                                    {
                                        "vnsRsLIfCtxToBD": {
                                            "attributes": {
                                                "tDn": "uni/tn-{{ dsp.consumer.bridge_domain.tenant | default(tenant.name) }}/BD-{{ bd_name }}"
                                            }
                                        }
                                    },
                                    {% elif dsp.consumer.external_endpoint_group is defined %}
                                    {% set redistribute = [] %}
                                    {% if dsp.consumer.external_endpoint_group.redistribute.bgp | default(defaults.apic.tenants.services.device_selection_policies.consumer.external_endpoint_group.redistribute.bgp) == "enabled" %}{% set redistribute = redistribute + [("bgp")] %}{% endif %}
                                    {% if dsp.consumer.external_endpoint_group.redistribute.ospf | default(defaults.apic.tenants.services.device_selection_policies.consumer.external_endpoint_group.redistribute.ospf) == "enabled" %}{% set redistribute = redistribute + [("ospf")] %}{% endif %}
                                    {% if dsp.consumer.external_endpoint_group.redistribute.connected | default(defaults.apic.tenants.services.device_selection_policies.consumer.external_endpoint_group.redistribute.connected) == "enabled" %}{% set redistribute = redistribute + [("connected")] %}{% endif %}
                                    {% if dsp.consumer.external_endpoint_group.redistribute.static | default(defaults.apic.tenants.services.device_selection_policies.consumer.external_endpoint_group.redistribute.static) == "enabled" %}{% set redistribute = redistribute + [("static")] %}{% endif %}
                                    {% set l3out_name = dsp.consumer.external_endpoint_group.l3out ~ defaults.apic.tenants.l3outs.name_suffix %}
                                    {% set eepg_name = dsp.consumer.external_endpoint_group.name ~ defaults.apic.tenants.l3outs.external_endpoint_groups.name_suffix %}
                                    {
                                        "vnsRsLIfCtxToInstP": {
                                            "attributes": {
                                                "redistribute": "{{ redistribute | join(',') }}",
                                                "tDn": "uni/tn-{{ dsp.consumer.external_endpoint_group.tenant | default(tenant.name) }}/out-{{ l3out_name }}/instP-{{ eepg_name }}"
                                            }
                                        }
                                    },
                                    {% endif %}
                                    {% if dsp.consumer.service_epg_policy is defined %}
                                    {% set pol_name = dsp.consumer.service_epg_policy ~ defaults.apic.tenants.services.service_epg_policies.name_suffix %}
                                    {
                                        "vnsRsLIfCtxToSvcEPgPol":{
                                            "attributes": {
                                                "tDn": "uni/tn-{{ tenant.name }}/svcCont/svcEPgPol-{{ pol_name }}"
                                            }
                                        }
                                    },
                                    {% endif %}
                                    {% if dsp.consumer.custom_qos_policy is defined %}
                                    {% set custom_qos_policy_name = dsp.consumer.custom_qos_policy ~ defaults.apic.tenants.policies.custom_qos.name_suffix %}
                                    {
                                        "vnsRsLIfCtxToCustQosPol": {
                                            "attributes": {
                                                "tnQosCustomPolName": "{{ custom_qos_policy_name }}"
                                            }
                                        }
                                    },
                                    {% endif %}                                    
                                    {% set int_name = dsp.consumer.logical_interface ~ defaults.apic.tenants.services.l4l7_devices.logical_interfaces.name_suffix %}
                                    {
                                        "vnsRsLIfCtxToLIf": {
                                            "attributes": {
                                                "tDn": "uni/tn-{{ sgt.device.tenant | default(tenant.name) }}/lDevVip-{{ dev_name }}/lIf-{{ int_name }}"
                                            }
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "vnsLIfCtx": {
                                "attributes": {
                                    "connNameOrLbl": "provider",
                                    "l3Dest": "{{ 'yes' if dsp.provider.l3_destination | default(defaults.apic.tenants.services.device_selection_policies.provider.l3_destination)  == 'enabled' else 'no'}}",
                                    "permitLog": "{{ 'yes' if dsp.provider.permit_logging | default(defaults.apic.tenants.services.device_selection_policies.provider.permit_logging)  == 'enabled' else 'no'}}",
                                    "childAction": "deleteNonPresent"
                                },
                                "children": [
                                    {% if dsp.provider.redirect_policy is defined %}
                                    {% set pol_name = dsp.provider.redirect_policy.name ~ defaults.apic.tenants.services.redirect_policies.name_suffix %}
                                    {
                                        "vnsRsLIfCtxToSvcRedirectPol": {
                                            "attributes": {
                                                "tDn": "uni/tn-{{ dsp.provider.redirect_policy.tenant | default(tenant.name) }}/svcCont/svcRedirectPol-{{ pol_name }}"
                                            }
                                        }
                                    },
                                    {% endif %}
                                    {% if dsp.provider.bridge_domain is defined %}
                                    {% set bd_name = dsp.provider.bridge_domain.name ~ defaults.apic.tenants.bridge_domains.name_suffix %}
                                    {
                                        "vnsRsLIfCtxToBD": {
                                            "attributes": {
                                                "tDn": "uni/tn-{{ dsp.provider.bridge_domain.tenant | default(tenant.name) }}/BD-{{ bd_name }}"
                                            }
                                        }
                                    },
                                    {% elif dsp.provider.external_endpoint_group is defined %}
                                    {% set redistribute = [] %}
                                    {% if dsp.provider.external_endpoint_group.redistribute.bgp | default(defaults.apic.tenants.services.device_selection_policies.provider.external_endpoint_group.redistribute.bgp) == "enabled" %}{% set redistribute = redistribute + [("bgp")] %}{% endif %}
                                    {% if dsp.provider.external_endpoint_group.redistribute.ospf | default(defaults.apic.tenants.services.device_selection_policies.provider.external_endpoint_group.redistribute.ospf) == "enabled" %}{% set redistribute = redistribute + [("ospf")] %}{% endif %}
                                    {% if dsp.provider.external_endpoint_group.redistribute.connected | default(defaults.apic.tenants.services.device_selection_policies.provider.external_endpoint_group.redistribute.connected) == "enabled" %}{% set redistribute = redistribute + [("connected")] %}{% endif %}
                                    {% if dsp.provider.external_endpoint_group.redistribute.static | default(defaults.apic.tenants.services.device_selection_policies.provider.external_endpoint_group.redistribute.static) == "enabled" %}{% set redistribute = redistribute + [("static")] %}{% endif %}
                                    {% set l3out_name = dsp.provider.external_endpoint_group.l3out ~ defaults.apic.tenants.l3outs.name_suffix %}
                                    {% set eepg_name = dsp.provider.external_endpoint_group.name ~ defaults.apic.tenants.l3outs.external_endpoint_groups.name_suffix %}
                                    {
                                        "vnsRsLIfCtxToInstP": {
                                            "attributes": {
                                                "redistribute": "{{ redistribute | join(',') }}",
                                                "tDn": "uni/tn-{{ dsp.provider.external_endpoint_group.tenant | default(tenant.name) }}/out-{{ l3out_name }}/instP-{{ eepg_name }}"
                                            }
                                        }
                                    },
                                    {% endif %}
                                    {% if dsp.provider.service_epg_policy is defined %}
                                    {% set pol_name = dsp.provider.service_epg_policy ~ defaults.apic.tenants.services.service_epg_policies.name_suffix %}
                                    {
                                        "vnsRsLIfCtxToSvcEPgPol":{
                                            "attributes": {
                                                "tDn": "uni/tn-{{ tenant.name }}/svcCont/svcEPgPol-{{ pol_name }}"
                                            }
                                        }
                                    },
                                    {% endif %}
                                    {% if dsp.provider.custom_qos_policy is defined %}
                                    {% set custom_qos_policy_name = dsp.provider.custom_qos_policy ~ defaults.apic.tenants.policies.custom_qos.name_suffix %}
                                    {
                                        "vnsRsLIfCtxToCustQosPol": {
                                            "attributes": {
                                                "tnQosCustomPolName": "{{ custom_qos_policy_name }}"
                                            }
                                        }
                                    },
                                    {% endif %}   
                                    {% set int_name = dsp.provider.logical_interface ~ defaults.apic.tenants.services.l4l7_devices.logical_interfaces.name_suffix %}
                                    {
                                        "vnsRsLIfCtxToLIf": {
                                            "attributes": {
                                                "tDn": "uni/tn-{{ sgt.device.tenant | default(tenant.name) }}/lDevVip-{{ dev_name }}/lIf-{{ int_name }}"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            }
            {%- endfor %}

        ]
    }
}