{# iterate_list apic.tenants name item[2] #}
{% set tenant = ((apic | default()) | community.general.json_query('tenants[?name==`' ~ item[2] ~ '`]'))[0] %}
{%- macro get_nlb_mode(name) -%}
    {%- set modes = {"mode-mcast-static":"mode-mcast--static"} -%}
    {{ modes[name] | default(name)}}
{%- endmacro -%}
{
    "fvTenant": {
        "attributes": {
            "dn": "uni/tn-{{ tenant.name }}",
            "name": "{{ tenant.name }}"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- for ap in tenant.application_profiles | default([]) %}{{ comma1() }}
            {% set ap_name = ap.name ~ defaults.apic.tenants.application_profiles.name_suffix %}
            {
                "fvAp": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "dn": "uni/tn-{{ tenant.name }}/ap-{{ ap_name }}",
                        "name": "{{ ap_name }}"
                    },
                    "children": [
                        {%- set comma2 = joiner(",") %}
                        {%- for epg in ap.endpoint_groups | default([]) %}{{ comma2() }}
                        {% set epg_name = epg.name ~ defaults.apic.tenants.application_profiles.endpoint_groups.name_suffix %}
                        {
                            "fvAEPg": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "descr": "{{ epg.description | default() }}",
                                    "dn": "uni/tn-{{ tenant.name }}/ap-{{ ap_name }}/epg-{{ epg_name }}",
                                    "name": "{{ epg_name }}",
                                    "nameAlias": "{{ epg.alias | default() }}",
                                    "floodOnEncap": "{{ epg.flood_in_encap | default(defaults.apic.tenants.application_profiles.endpoint_groups.flood_in_encap) | cisco.aac.aac_bool("enabled") }}",
                                    "pcEnfPref": "{{ epg.intra_epg_isolation | default(defaults.apic.tenants.application_profiles.endpoint_groups.intra_epg_isolation) | cisco.aac.aac_bool("enforced") }}",
                                    "fwdCtrl": {% if epg.proxy_arp | default(defaults.apic.tenants.application_profiles.endpoint_groups.proxy_arp) %}"proxy-arp"{% else %}""{% endif %},
                                    "prefGrMemb": "{{ epg.preferred_group | default(defaults.apic.tenants.application_profiles.endpoint_groups.preferred_group) | cisco.aac.aac_bool("include") }}",
                                    "prio": "{{ epg.qos_class | default(defaults.apic.tenants.application_profiles.endpoint_groups.qos_class) }}",
                                    "childAction": "deleteNonPresent"
                                },
                                "children": [
                                    {%- set comma3 = joiner(",") %}
                                    {%- for pd in epg.physical_domains | default([]) %}{{ comma3() }}
                                    {% set domain_name = pd ~ defaults.apic.access_policies.physical_domains.name_suffix %}
                                    {
                                        "fvRsDomAtt": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "tDn": "uni/phys-{{ domain_name }}"
                                            }
                                        }
                                    }
                                    {%- endfor %}
                                    {%- for vmm in epg.vmware_vmm_domains | default([]) %}{{ comma3() }}
                                    {% set vmm_name = vmm.name ~ defaults.apic.tenants.application_profiles.endpoint_groups.vmware_vmm_domains.name_suffix %}
                                    {
                                        "fvRsDomAtt": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "bindingType": "none",
                                                {% if vmm.u_segmentation | default(defaults.apic.tenants.application_profiles.endpoint_groups.vmware_vmm_domains.u_segmentation) | cisco.aac.aac_bool("yes") == 'yes' %}{% set useg = 'useg' %}{% else %}{% set useg = 'encap' %}{% endif %}
                                                "classPref": "{{ useg }}",
                                                "delimiter": "{{ vmm.delimiter | default(defaults.apic.tenants.application_profiles.endpoint_groups.vmware_vmm_domains.delimiter) }}",
                                                {% if vmm.primary_vlan is defined %}
                                                "encap": "vlan-{{ vmm.secondary_vlan }}",
                                                {% elif vmm.vlan is defined %}
                                                "encap": "vlan-{{ vmm.vlan }}",
                                                {% else %}
                                                "encap": "unknown",
                                                {% endif %}
                                                "encapMode": "auto",
                                                "instrImedcy": "{{ vmm.deployment_immediacy  | default(defaults.apic.tenants.application_profiles.endpoint_groups.vmware_vmm_domains.deployment_immediacy) }}",
                                                "netflowPref": "{{ vmm.netflow | default(defaults.apic.tenants.application_profiles.endpoint_groups.vmware_vmm_domains.netflow) | cisco.aac.aac_bool("enabled") }}",
                                                {% if vmm.primary_vlan is defined %}
                                                "primaryEncap": "vlan-{{ vmm.primary_vlan }}",
                                                {% else %}
                                                "primaryEncap": "unknown",
                                                {% endif %}
                                                "resImedcy": "{{ vmm.resolution_immediacy | default(defaults.apic.tenants.application_profiles.endpoint_groups.vmware_vmm_domains.resolution_immediacy) }}",
                                                "switchingMode": "native",
                                                "tDn": "uni/vmmp-VMware/dom-{{ vmm_name }}",
                                                "childAction": "deleteNonPresent"
                                            },
                                            "children": [
                                                {
                                                    "vmmSecP": {
                                                        "attributes": {
                                                            "annotation": "orchestrator:aac",
                                                            "allowPromiscuous": "{{ vmm.allow_promiscuous | default(defaults.apic.tenants.application_profiles.endpoint_groups.vmware_vmm_domains.allow_promiscuous) }}",
                                                            "forgedTransmits": "{{ vmm.forged_transmits | default(defaults.apic.tenants.application_profiles.endpoint_groups.vmware_vmm_domains.forged_transmits) }}",
                                                            "macChanges": "{{ vmm.mac_changes | default(defaults.apic.tenants.application_profiles.endpoint_groups.vmware_vmm_domains.mac_changes) }}"
                                                        }
                                                    }
                                                }
                                                {%- if vmm.elag is defined %},
                                                {
                                                    "fvAEPgLagPolAtt": {
                                                        "attributes": {
                                                            "annotation": "orchestrator:aac"
                                                        },
                                                        "children": [
                                                            {
                                                                "fvRsVmmVSwitchEnhancedLagPol": {
                                                                    "attributes": {
                                                                        "annotation": "orchestrator:aac",
                                                                        "tDn": "uni/vmmp-VMware/dom-{{ vmm_name }}/vswitchpolcont/enlacplagp-{{ vmm.elag }}"
                                                                    }
                                                                }
                                                            }
                                                        ]
                                                    }
                                                }
                                                {%- endif %}
                                                {%- if vmm.active_uplinks_order is defined or vmm.standby_uplinks is defined %},
                                                {
                                                    "fvUplinkOrderCont": {
                                                        "attributes": {
                                                            "annotation": "orchestrator:aac",
                                                            "active": "{{ vmm.active_uplinks_order | default()  }}",
                                                            "standby": "{{ vmm.standby_uplinks | default()  }}"
                                                        }
                                                    }
                                                }
                                                {% endif %}
                                            ]
                                        }
                                    }
                                    {%- endfor %}
                                    {%- for sp in epg.static_ports | default([]) %}{{ comma3() }}
                                    {
                                        "fvRsPathAtt": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "encap": "vlan-{{ sp.vlan }}",
                                                "instrImedcy": "{{ sp.deployment_immediacy | default(defaults.apic.tenants.application_profiles.endpoint_groups.static_ports.deployment_immediacy)  }}",
                                                "mode": "{{ sp.mode | default(defaults.apic.tenants.application_profiles.endpoint_groups.static_ports.mode) }}",
                                                {% if sp.node_id is defined and sp.channel is not defined %}
                                                    {% set query = "nodes[?id==`" ~ sp.node_id ~ "`].pod" %}
                                                    {% set pod = sp.pod_id | default(((apic.node_policies | default()) | community.general.json_query(query))[0] | default('1')) %}
                                                    {% if sp.sub_port is defined %}
                                                "tDn": "topology/pod-{{ pod }}/paths-{{ sp.node_id }}/pathep-[eth{{ sp.module | default(defaults.apic.tenants.application_profiles.endpoint_groups.static_ports.module) }}/{{ sp.port }}/{{ sp.sub_port }}]"
                                                    {% elif sp.fex_id is defined %}
                                                "tDn": "topology/pod-{{ pod }}/paths-{{ sp.node_id }}/extpaths-{{ sp.fex_id }}/pathep-[eth{{ sp.module | default(defaults.apic.tenants.application_profiles.endpoint_groups.static_ports.module) }}/{{ sp.port }}]"
                                                    {%else%}
                                                "tDn": "topology/pod-{{ pod }}/paths-{{ sp.node_id }}/pathep-[eth{{ sp.module | default(defaults.apic.tenants.application_profiles.endpoint_groups.static_ports.module) }}/{{ sp.port }}]"
                                                    {% endif %}                                                    
                                                {% else %}
                                                    {% set policy_group_name = sp.channel ~ defaults.apic.access_policies.leaf_interface_policy_groups.name_suffix %}
                                                    {% set query = "leaf_interface_policy_groups[?name==`" ~ sp.channel ~ "`].type" %}
                                                    {% set type = (apic.access_policies | community.general.json_query(query))[0] | default('vpc' if sp.node2_id is defined else 'pc') %}
                                                    {% set query_sub_ports = "nodes[?interfaces[?sub_ports[?policy_group==`" ~ sp.channel ~ "`]]].id" %}
                                                    {% set id_sub_ports = (apic.interface_policies | default() | community.general.json_query(query_sub_ports)) %}
                                                    {% set query_ports = "nodes[?interfaces[?policy_group==`" ~ sp.channel ~ "`]].id" %}
                                                    {% set id_ports = (apic.interface_policies | default() | community.general.json_query(query_ports)) %}
                                                    {% if id_sub_ports != None and id_sub_ports | length > 0 %}
                                                        {% if sp.node_id is defined %}
                                                            {% set node = sp.node_id %}
                                                        {% else %}
                                                            {% set query = "nodes[?interfaces[?sub_ports[?policy_group==`" ~ sp.channel ~ "`]]].id" %}
                                                            {% set node = (apic.interface_policies | default() | community.general.json_query(query))[0] %}
                                                        {% endif %}
                                                        {% set query = "nodes[?id==`" ~ node ~ "`].pod" %}
                                                        {% set pod = sp.pod_id | default(((apic.node_policies | default()) | community.general.json_query(query))[0] | default('1')) %}
                                                        {% if type == 'vpc' %}
                                                            {% if sp.node2_id is defined %}
                                                                {% set node2 = sp.node2_id %}
                                                            {% else %}
                                                                {% set query = "nodes[?interfaces[?sub_ports[?policy_group==`" ~ sp.channel ~ "`]]].id" %}
                                                                {% set node2 = (apic.interface_policies | default() | community.general.json_query(query))[1] %}
                                                                {% if node2 < node %}{% set node_tmp = node %}{% set node = node2 %}{% set node2 = node_tmp %}{% endif %}
                                                            {% endif %}
                                                "tDn": "topology/pod-{{ pod }}/protpaths-{{ node }}-{{ node2 }}/pathep-[{{ policy_group_name }}]"
                                                        {% else %}
                                                "tDn": "topology/pod-{{ pod }}/paths-{{ node }}/pathep-[{{ policy_group_name }}]"
                                                        {% endif %}                                                    
                                                    {% else %}
                                                        {% if sp.node_id is defined %}
                                                            {% set node = sp.node_id %}
                                                        {% else %}
                                                            {% set query = "nodes[?interfaces[?policy_group==`" ~ sp.channel ~ "`]].id" %}
                                                            {% set node = (apic.interface_policies | default() | community.general.json_query(query))[0] %}
                                                        {% endif %}
                                                        {% set query = "nodes[?id==`" ~ node ~ "`].pod" %}
                                                        {% set pod = sp.pod_id | default(((apic.node_policies | default()) | community.general.json_query(query))[0] | default('1')) %}
                                                        {% if type == 'vpc' %}
                                                            {% if sp.node2_id is defined %}
                                                                {% set node2 = sp.node2_id %}
                                                            {% else %}
                                                                {% set query = "nodes[?interfaces[?policy_group==`" ~ sp.channel ~ "`]].id" %}
                                                                {% set node2 = (apic.interface_policies | default() | community.general.json_query(query))[1] %}
                                                                {% if node2 < node %}{% set node_tmp = node %}{% set node = node2 %}{% set node2 = node_tmp %}{% endif %}
                                                            {% endif %}
                                                "tDn": "topology/pod-{{ pod }}/protpaths-{{ node }}-{{ node2 }}/pathep-[{{ policy_group_name }}]"
                                                        {% else %}
                                                "tDn": "topology/pod-{{ pod }}/paths-{{ node }}/pathep-[{{ policy_group_name }}]"
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            }
                                        }
                                    }
                                    {%- endfor %}
                                    {%- for st_ep in epg.static_endpoints | default([]) %}{{ comma3() }}
                                    {% set static_endpoint_name = st_ep.name ~ defaults.apic.tenants.application_profiles.endpoint_groups.static_endpoints.name_suffix %}
                                    {
                                        "fvStCEp": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                {% if st_ep.type != "vep" %}
                                                "encap": "vlan-{{ st_ep.vlan }}",
                                                {% else %}
                                                "encap": "unknown",
                                                {% endif %}
                                                "id": "0",
                                                "ip": "{{ st_ep.ip | default(defaults.apic.tenants.application_profiles.endpoint_groups.static_endpoints.ip)}}",
                                                "mac": "{{ st_ep.mac }}",
                                                "name": "{{ static_endpoint_name }}",
                                                "nameAlias": "{{ st_ep.alias | default() }}",
                                                "type": "{{ st_ep.type }}"
                                            }{%- if st_ep.type != "vep" %}{{ comma3() }}
                                            "children": [
                                                {%- set comma4 = joiner(",") %}
                                                {%- for ip in st_ep.additional_ips | default([]) %}{{ comma4() }}
                                                {
                                                "fvStIp": {
                                                    "attributes": {
                                                        "annotation": "orchestrator:aac",
                                                        "addr": "{{ ip }}"
                                                    }
                                                }
                                                }
                                                {%- endfor %}
                                                {% endif %}
                                                {%- if st_ep.type != "vep" %}{{ comma4() }} 
                                                {
                                                "fvRsStCEpToPathEp": {
                                                    "attributes": {
                                                        "annotation": "orchestrator:aac",
                                                        {% if st_ep.node_id is defined and st_ep.channel is not defined%}
                                                        {% set query = "nodes[?id==`" ~ st_ep.node_id ~ "`].pod" %}
                                                        {% set pod = st_ep.pod_id | default(((apic.node_policies | default()) | community.general.json_query(query))[0] | default('1')) %}
                                                        "tDn": "topology/pod-{{ pod }}/paths-{{ st_ep.node_id }}/pathep-[eth{{ st_ep.module | default(defaults.apic.tenants.application_profiles.endpoint_groups.static_ports.module) }}/{{ st_ep.port }}]"
                                                        {% else %}
                                                        {% set policy_group_name = st_ep.channel ~ defaults.apic.access_policies.leaf_interface_policy_groups.name_suffix %}
                                                        {% set query = "leaf_interface_policy_groups[?name==`" ~ st_ep.channel ~ "`].type" %}
                                                        {% set type = (apic.access_policies | community.general.json_query(query))[0] | default('vpc' if st_ep.node2_id is defined else 'pc') %}
                                                        {% if st_ep.node_id is defined %}
                                                            {% set node = st_ep.node_id %}
                                                        {% else %}
                                                            {% set query = "nodes[?interfaces[?policy_group==`" ~ st_ep.channel ~ "`]].id" %}
                                                            {% set node = (apic.interface_policies | community.general.json_query(query))[0] %}
                                                        {% endif %}
                                                        {% set query = "nodes[?id==`" ~ node ~ "`].pod" %}
                                                        {% set pod = st_ep.pod_id | default(((apic.node_policies | default()) | community.general.json_query(query))[0] | default('1')) %}
                                                        {% if type == 'vpc' %}
                                                        {% if st_ep.node2_id is defined %}
                                                            {% set node2 = st_ep.node2_id %}
                                                        {% else %}
                                                            {% set query = "nodes[?interfaces[?policy_group==`" ~ st_ep.channel ~ "`]].id" %}
                                                            {% set node2 = (apic.interface_policies | community.general.json_query(query))[1] %}
                                                            {% if node2 < node %}{% set node_tmp = node %}{% set node = node2 %}{% set node2 = node_tmp %}{% endif %}
                                                        {% endif %}
                                                        "tDn": "topology/pod-{{ pod }}/protpaths-{{ node }}-{{ node2 }}/pathep-[{{ policy_group_name }}]"
                                                        {% else %}
                                                        "tDn": "topology/pod-{{ pod }}/paths-{{ node }}/pathep-[{{ policy_group_name }}]"
                                                        {% endif %}
                                                        {% endif %}
                                                    }
                                                }
                                                }
                                               
                                            ]
                                            {% endif %}  
                                        }
                                    }
                                    {%- endfor %}
                                    {%- for contract in epg.contracts.providers | default([]) %}{{ comma3() }}
                                    {% set contract_name = contract ~ defaults.apic.tenants.contracts.name_suffix %}
                                    {
                                        "fvRsProv": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "tnVzBrCPName": "{{ contract_name }}"
                                            }
                                        }
                                    }
                                    {%- endfor %}
                                    {%- for contract in epg.contracts.consumers | default([]) %}{{ comma3() }}
                                    {% set contract_name = contract ~ defaults.apic.tenants.contracts.name_suffix %}
                                    {
                                        "fvRsCons": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "tnVzBrCPName": "{{ contract_name }}"
                                            }
                                        }
                                    }
                                    {%- endfor %}
                                    {%- for contract in epg.contracts.imported_consumers | default([]) %}{{ comma3() }}
                                    {% set contract_name = contract ~ defaults.apic.tenants.imported_contracts.name_suffix %}
                                    {
                                        "fvRsConsIf": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "tnVzCPIfName": "{{ contract_name }}"
                                            }
                                        }
                                    }
                                    {%- endfor %}
                                    {%- for contract in epg.contracts.intra_epgs | default([]) %}{{ comma3() }}
                                    {% set contract_name = contract ~ defaults.apic.tenants.contracts.name_suffix %}
                                    {
                                        "fvRsIntraEpg": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "tnVzBrCPName": "{{ contract_name }}"
                                            }
                                        }
                                    }
                                    {%- endfor %}
                                    {%- for subnet in epg.subnets | default([]) %}{{ comma3() }}
                                    {% set scope = [] %}
                                    {% if subnet.private | default(defaults.apic.tenants.application_profiles.endpoint_groups.subnets.private) | cisco.aac.aac_bool("yes") == "yes" %}{% set scope = scope + [("private")] %}{% endif %}
                                    {% if subnet.public | default(defaults.apic.tenants.application_profiles.endpoint_groups.subnets.public) | cisco.aac.aac_bool("yes") == "yes" %}{% set scope = scope + [("public")] %}{% endif %}
                                    {% if subnet.shared | default(defaults.apic.tenants.application_profiles.endpoint_groups.subnets.shared) | cisco.aac.aac_bool("yes") == "yes" %}{% set scope = scope + [("shared")] %}{% endif %}
                                    {% set ctrl = [] %}
                                    {% if subnet.nd_ra_prefix | default(defaults.apic.tenants.application_profiles.endpoint_groups.subnets.nd_ra_prefix) | cisco.aac.aac_bool("yes") == "yes" %}{% set ctrl = ctrl + [("nd")] %}{% endif %}
                                    {% if subnet.no_default_gateway | default(defaults.apic.tenants.application_profiles.endpoint_groups.subnets.no_default_gateway) | cisco.aac.aac_bool("yes") == "yes" %}{% set ctrl = ctrl + [("no-default-gateway")] %}{% endif %}
                                    {% if subnet.igmp_querier | default(defaults.apic.tenants.application_profiles.endpoint_groups.subnets.igmp_querier) | cisco.aac.aac_bool("yes") == "yes" %}{% set ctrl = ctrl + [("querier")] %}{% endif %}
                                    {
                                        "fvSubnet": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "ctrl": "{{ ctrl | join(',') }}",
                                                "descr": "{{ subnet.description | default() }}",
                                                "ip": "{{ subnet.ip }}",
                                                "scope": "{{ scope | join(',') }}",
                                                "virtual": "{{ subnet.virtual | default(defaults.apic.tenants.application_profiles.endpoint_groups.subnets.virtual) | cisco.aac.aac_bool("yes") }}",
                                                "childAction": "deleteNonPresent"
                                            },
                                            "children": [
                                                {%- set comma4 = joiner(",") %}
                                                {%- for pool in subnet.ip_pools | default([]) %}{{ comma4() }}
                                                {% set pool_name = pool.name ~ defaults.apic.tenants.application_profiles.endpoint_groups.subnets.ip_pools.name_suffix %}
                                                {
                                                    "fvCepNetCfgPol": {
                                                        "attributes": {
                                                            "annotation": "orchestrator:aac",
                                                            "name": "{{ pool_name }}",
                                                            "startIp": "{{ pool.start_ip | default(defaults.apic.tenants.application_profiles.endpoint_groups.subnets.ip_pools.start_ip) }}",
                                                            "endIp": "{{ pool.end_ip | default(defaults.apic.tenants.application_profiles.endpoint_groups.subnets.ip_pools.end_ip) }}",
                                                            "dnsSearchSuffix": "{{ pool.dns_search_suffix | default() }}",
                                                            "dnsServers": "{{ pool.dns_server | default() }}",
                                                            "dnsSuffix": "{{ pool.dns_suffix | default() }}",
                                                            "winsServers": "{{ pool.wins_server | default() }}"
                                                        }
                                                    }
                                                }
                                                {%- endfor %}
                                                {%- if subnet.next_hop_ip is defined %}{{ comma4() }}
                                                {
                                                    "fvEpReachability": {
                                                        "attributes": {
                                                            "annotation": "orchestrator:aac",
                                                            "childAction": "deleteNonPresent"
                                                        },
                                                        "children": [
                                                            {
                                                                "ipNexthopEpP": {
                                                                    "attributes": {
                                                                        "annotation": "orchestrator:aac",
                                                                        "nhAddr": "{{ subnet.next_hop_ip }}"
                                                                    }
                                                                }
                                                            }
                                                        ]
                                                    }
                                                }
                                                {% elif subnet.anycast_mac is defined %}{{ comma4() }}
                                                {
                                                    "fvEpAnycast": {
                                                        "attributes": {
                                                            "annotation": "orchestrator:aac",
                                                            "mac": "{{ subnet.anycast_mac }}"
                                                        }
                                                    }
                                                }
                                                {% elif subnet.nlb_mode is defined %}{{ comma4() }}
                                                {
                                                    "fvEpNlb": {
                                                        "attributes": {
                                                            "annotation": "orchestrator:aac",
                                                            "group": "{{ subnet.nlb_group | default(defaults.apic.tenants.application_profiles.endpoint_groups.subnets.nlb_group) }}",
                                                            "mac": "{{ subnet.nlb_mac | default(defaults.apic.tenants.application_profiles.endpoint_groups.subnets.nlb_mac) }}",
                                                            "mode": "{{ get_nlb_mode(subnet.nlb_mode) }}"
                                                        }
                                                    }
                                                }
                                                {% endif %}
                                            ]
                                        }
                                    }
                                    {%- endfor %}
                                    {%- for tag in epg.tags | default([]) %}{{ comma3() }}
                                    {
                                        "tagInst": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "name": "{{ tag }}"
                                            }
                                        }
                                    }
                                    {%- endfor %}
                                    {%- if epg.trust_control_policy is defined %}
                                    {%- set trust_control_policy_name = epg.trust_control_policy ~ defaults.apic.tenants.policies.trust_control_policies.name_suffix %}{{ comma3() }}
                                    {
                                        "fvRsTrustCtrl": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "tnFhsTrustCtrlPolName": "{{ trust_control_policy_name }}"
                                            }
                                        }
                                    }
                                    {%- endif %}
                                    {%- for vip in epg.l4l7_virtual_ips | default([]) %}{{ comma3() }}
                                    {
                                        "fvVip": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "addr": "{{ vip.ip }}",
                                                "descr": "{{ vip.description | default() }}"
                                            }
                                        }
                                    }                      
                                    {%- endfor %}
                                    {%- for pool in epg.l4l7_address_pools | default([]) %}{{ comma3() }}
                                    {
                                        "vnsAddrInst": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "name": "{{ pool.name }}",
                                                "addr": "{{ pool.gateway_address }}",
                                                "childAction": "deleteNonPresent"                                                
                                            },
                                            "children": [
                                                {% if pool.from is defined and pool.to is defined %}
                                                {
                                                    "fvnsUcastAddrBlk": {
                                                        "attributes": {
                                                            "annotation": "orchestrator:aac",
                                                            "from": "{{ pool.from }}",
                                                            "to": "{{ pool.to }}"
                                                        }
                                                    }
                                                }
                                                {%- endif%}

                                            ]
                                        }
                                    }
                                    {%- endfor %}
                                    {%- set bd_name = epg.bridge_domain ~ defaults.apic.tenants.bridge_domains.name_suffix %}{{ comma3() }}
                                    {
                                        "fvRsBd": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "tnFvBDName": "{{ bd_name }}"
                                            }
                                        }
                                    }
                                    {%- if epg.custom_qos_policy is defined %}{{ comma3() }}
                                    {% set custom_qos_policy_name = epg.custom_qos_policy ~ defaults.apic.tenants.policies.custom_qos.name_suffix %}
                                    {
                                        "fvRsCustQosPol": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "tnQosCustomPolName": "{{ custom_qos_policy_name }}"
                                            }
                                        }
                                    }
                                    {%- endif %}

                                ]
                            }
                        }
                        {%- endfor %}

                    ]
                }
            }
            {%- endfor %}

        ]
    }
}
