{% set tenant = ((apic | default()) | community.general.json_query('tenants[?name==`' ~ item[2] ~ '`]'))[0] %}
{
    "fvTenant": {
        "attributes": {
            "dn": "uni/tn-{{ tenant.name }}",
            "name": "{{ tenant.name }}"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- for mrm in tenant.policies.multicast_route_maps | default([]) %}{{ comma1() }}
            {% set mrm_policy_name = mrm.name ~ defaults.apic.tenants.policies.multicast_route_maps.name_suffix %}
            {
                "pimRouteMapPol": {
                    "attributes": {
                        "name": "{{ mrm_policy_name }}",
                        "dn": "uni/tn-{{ tenant.name }}/rtmap-{{ mrm_policy_name }}",
                        "childAction": "deleteNonPresent"
                    },
                    "children": [
                        {%- set comma2 = joiner(",") %}
                        {%- for mrm_route_entry in mrm.multicast_route_map_entries | default([]) %}{{ comma2() }}
                        {
                            "pimRouteMapEntry": {
                                "attributes": {
                                    "action": "{{ mrm_route_entry.action | default(defaults.apic.tenants.policies.multicast_route_maps.multicast_route_map_entries.action) }}",
                                    "grp": "{{ mrm_route_entry.group_ip | default(defaults.apic.tenants.policies.multicast_route_maps.multicast_route_map_entries.group_ip) }}",
                                    "order": "{{ mrm_route_entry.order }}",
                                    "rp": "{{ mrm_route_entry.rp_ip | default(defaults.apic.tenants.policies.multicast_route_maps.multicast_route_map_entries.rp_ip) }}",
                                    "src": "{{ mrm_route_entry.source_ip | default(defaults.apic.tenants.policies.multicast_route_maps.multicast_route_map_entries.source_ip) }}"
                                }
                            }
                        }
                        {%- endfor %}
                    ]

                }
            }
            {%- endfor %}

        ]
    }
}