{% set tenant = ((apic | default()) | community.general.json_query('tenants[?name==`' ~ item[2] ~ '`]'))[0] %}
{
    "fvTenant": {
        "attributes": {
            "dn": "uni/tn-{{ tenant.name }}",
            "name": "{{ tenant.name }}"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- for span in tenant.policies.span.source_groups | default([]) %}{{ comma1() }}
            {% set span_group_name = span.name ~ defaults.apic.tenants.policies.span.source_groups.name_suffix %}
            {% set span_destination_name = span.destination ~ defaults.apic.tenants.policies.span.destination_groups.name_suffix %}
            {
                "spanSrcGrp": {
                    "attributes": {
                        "dn":"uni/tn-{{ tenant.name }}/srcgrp-{{ span_group_name }}",
                        "name": "{{ span_group_name }}",
                        "descr":  "{{ span.description | default()}}",
                        "adminSt" : "{{ span.admin_state | default(defaults.apic.tenants.policies.span.source_groups.admin_state) | cisco.aac.aac_bool("enabled") }}",
                        "childAction": "deleteNonPresent"
                    },
                    "children": [
                        {%- set comma2 = joiner(",") %}
                        {%- for source in span.sources | default([]) %}{{ comma2() }}
                        {
                            "spanSrc": {
                                "attributes": {
                                    "name": "{{ source.name }}",
                                    "descr":  "{{ source.description | default()}}",
                                    "dir": "{{ source.direction | default(defaults.apic.tenants.policies.span.source_groups.sources.direction ) }}",
                                    "childAction": "deleteNonPresent"                                    
                                },
                                "children": [
                                    {% if source.application_profile is defined and source.endpoint_group is defined %}
                                    {% set application_profile_name = source.application_profile ~ defaults.apic.tenants.application_profiles.name_suffix %}
                                    {% set endpoint_group_name = source.endpoint_group ~ defaults.apic.tenants.application_profiles.endpoint_groups.name_suffix %}
                                    {
                                        "spanRsSrcToEpg": {
                                            "attributes": {
                                                "tDn": "uni/tn-{{ tenant.name }}/ap-{{ application_profile_name }}/epg-{{ endpoint_group_name }}"
                                            }
                                        }
                                    }
                                    {% endif %}
                                ]
                            }
                        }
                        {%- endfor %}{{ comma2() }}
                        {
                            "spanSpanLbl": {
                                "attributes": {
                                    "name":"{{ span_destination_name }}"
                                }
                            }
                        }
                    ]
                }
            }
            {%- endfor %}
            
        ]
    }
}
