{
    "mgmtConnectivityPrefs": {
        "attributes": {
            "annotation": "orchestrator:aac",
            "dn": "uni/fabric/connectivityPrefs",
            "interfacePref": "{{ apic.fabric_policies.apic_conn_pref | default(defaults.apic.fabric_policies.apic_conn_pref) }}"
        }
    }
}