{% if apic.fabric_policies.config_passphrase is defined %}
{
    "pkiExportEncryptionKey": {
        "attributes": {
            "annotation": "orchestrator:aac",
            "dn": "uni/exportcryptkey",
            "strongEncryptionEnabled": "true",
            "passphrase": "{{ apic.fabric_policies.config_passphrase }}"
        }
    }
}
{% endif %}