{
    "coopPol": {
        "attributes": {
            "dn": "uni/fabric/pol-default",
            "name": "default",
            "type": "{{ apic.fabric_policies.coop_group_policy | default(defaults.apic.fabric_policies.coop_group_policy) }}"
        }
    }
}