{
   "datetimeFormat":{
      "attributes":{
         "dn":"uni/fabric/format-default",
         "displayFormat": "{{ apic.fabric_policies.date_time_format.display_format | default(defaults.apic.fabric_policies.date_time_format.display_format) }}",
         "tz": "{{ apic.fabric_policies.date_time_format.timezone | default(defaults.apic.fabric_policies.date_time_format.timezone) }}",
         "showOffset": "{{ apic.fabric_policies.date_time_format.show_offset | default(defaults.apic.fabric_policies.date_time_format.show_offset) }}"
      }
   }
}



