{
    "fabricInst": {
        "attributes": {
            "dn": "uni/fabric"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- if apic.new_interface_configuration | default(defaults.apic.new_interface_configuration) is false %}
            {%- if apic.auto_generate_switch_pod_profiles | default(defaults.apic.auto_generate_switch_pod_profiles) | cisco.aac.aac_bool("enabled") == "enabled" or apic.auto_generate_fabric_leaf_switch_interface_profiles | default(defaults.apic.auto_generate_fabric_leaf_switch_interface_profiles) | cisco.aac.aac_bool("enabled") == "enabled" %}
            {%- for node in apic.node_policies.nodes | default([]) %}
            {%- if node.role == "leaf" %}
            {% set leaf_interface_profile_name = (node.id ~ ":" ~ node.name) | regex_replace("^(?P<id>.+):(?P<name>.+)$", (apic.fabric_policies.leaf_interface_profile_name | default(defaults.apic.fabric_policies.leaf_interface_profile_name))) %}{{ comma1() }}
            {
                "fabricLePortP": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "name": "{{ leaf_interface_profile_name }}",
                        "dn": "uni/fabric/leportp-{{ leaf_interface_profile_name }}"
                    }
                }
            }
            {%- endif %}
            {%- endfor %}
            {%- endif %}
            {%- for prof in apic.fabric_policies.leaf_interface_profiles | default([]) %}
            {%- set leaf_interface_profile_name = prof.name ~ defaults.apic.fabric_policies.leaf_interface_profiles.name_suffix %}{{ comma1() }}
            {
                "fabricLePortP": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "name": "{{ leaf_interface_profile_name }}",
                        "dn": "uni/fabric/leportp-{{ leaf_interface_profile_name }}"
                    }
                }
            }
            {%- endfor %}
            {%- endif %}

        ]
    }
}