{
    "fabricInst": {
        "attributes": {
            "dn": "uni/fabric"
        },
        "children":[
            {%- set comma1 = joiner(",") %}
            {%- for span in apic.fabric_policies.span.destination_groups | default([]) %}{{ comma1() }}
            {% set span_name = span.name ~ defaults.apic.fabric_policies.span.destination_groups.name_suffix %}
            {
                "spanDestGrp": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "descr": "{{ span.description | default() }}",
                        "dn": "uni/fabric/destgrp-{{ span_name }}",
                        "name": "{{ span_name }}",
                        "childAction": "deleteNonPresent"
                    },
                    "children": [
                        {
                            "spanDest": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "descr": "",
                                    "name": "{{ span_name }}",
                                    "childAction": "deleteNonPresent"
                                },
                                "children": [
                                {% if span.tenant is defined and span.application_profile is defined and span.endpoint_group is defined %}
                                {% set application_profile_name = span.application_profile ~ defaults.apic.tenants.application_profiles.name_suffix %}
                                {% set endpoint_group_name = span.endpoint_group ~ defaults.apic.tenants.application_profiles.endpoint_groups.name_suffix %}
                                    {
                                        "spanRsDestEpg": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "ip": "{{ span.ip }}",
                                                "srcIpPrefix": "{{ span.source_prefix }}",
                                                "dscp": "{{ span.dscp | default(defaults.apic.fabric_policies.span.destination_groups.dscp) }}",
                                                "flowId": "{{ span.flow_id | default(defaults.apic.fabric_policies.span.destination_groups.flow_id) }}",
                                                "mtu": "{{ span.mtu | default(defaults.apic.fabric_policies.span.destination_groups.mtu) }}",
                                                "ttl": "{{ span.ttl | default(defaults.apic.fabric_policies.span.destination_groups.ttl) }}",
                                                "ver": "ver{{ span.version | default(defaults.apic.fabric_policies.span.destination_groups.version) }}",
                                                "verEnforced": "{{ span.enforce_version | default(defaults.apic.fabric_policies.span.destination_groups.enforce_version) | cisco.aac.aac_bool("yes") }}",
                                                "tDn": "uni/tn-{{ span.tenant  }}/ap-{{ application_profile_name }}/epg-{{ endpoint_group_name }}"
                                            }
                                        }
                                    }
                                    {%- endif %}

                                ]
                            }
                        }
                    ]
                }
            }            
            {%- endfor %}

        ]
    }
}