{
    "fabricInst": {
        "attributes": {
            "dn": "uni/fabric"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- for site in apic.fabric_policies.geolocation.sites | default([]) %}{{ comma1() }}
            {
                "geoSite": {
                    "attributes": {
                        "dn": "uni/fabric/site-{{ site.name }}",
                        "name": "{{ site.name }}",
                        "descr": "{{ site.description | default() }}",
                        "childAction": "deleteNonPresent"
                    },
                    "children": [
                        {%- set comma2 = joiner(",") %}
                        {%- for building in site.buildings | default([]) %}{{ comma2() }}
                        {
                            "geoBuilding": {
                                "attributes": {
                                    "name": "{{ building.name }}",
                                    "descr": "{{ building.description | default() }}",
                                    "childAction": "deleteNonPresent"
                                },
                                "children": [
                                    {%- set comma3 = joiner(",") %}
                                    {%- for floor in building.floors | default([]) %}{{ comma3() }}
                                    {
                                        "geoFloor": {
                                            "attributes": {
                                                "name": "{{ floor.name }}",
                                                "descr": "{{ floor.description | default() }}",
                                                "childAction": "deleteNonPresent"
                                            },
                                            "children": [
                                                {%- set comma4 = joiner(",") %}
                                                {%- for room in floor.rooms | default([]) %}{{ comma4() }}
                                                {
                                                    "geoRoom": {
                                                        "attributes": {
                                                            "name": "{{ room.name }}",
                                                            "descr": "{{ room.description | default() }}",
                                                            "childAction": "deleteNonPresent"
                                                        },
                                                        "children": [
                                                            {%- set comma5 = joiner(",") %}
                                                            {%- for row in room.rows | default([]) %}{{ comma5() }}
                                                            {
                                                                "geoRow": {
                                                                    "attributes": {
                                                                        "name": "{{ row.name }}",
                                                                        "descr": "{{ row.description | default() }}",
                                                                        "childAction": "deleteNonPresent"
                                                                    },
                                                                    "children": [
                                                                        {%- set comma6 = joiner(",") %}
                                                                        {%- for rack in row.racks | default([]) %}{{ comma6() }}
                                                                        {
                                                                            "geoRack": {
                                                                                "attributes": {
                                                                                    "name": "{{ rack.name }}",
                                                                                    "descr": "{{ rack.description | default() }}",
                                                                                    "childAction": "deleteNonPresent"
                                                                                },
                                                                                "children": [
                                                                                    {%- set comma7 = joiner(",") %}
                                                                                    {%- for node in rack.nodes | default([]) %}{{ comma7() }}
                                                                                    {% set query = "nodes[?id==`" ~ node ~ "`].pod" %}
                                                                                    {% set pod = (apic.node_policies | json_query(query))[0] | default('1') %}
                                                                                    {
                                                                                        "geoRsNodeLocation": {
                                                                                            "attributes": {
                                                                                                "tDn": "topology/pod-{{ pod }}/node-{{ node }}"
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                    {%- endfor %}

                                                                                ]
                                                                            }
                                                                        }
                                                                        {%- endfor %}

                                                                    ]
                                                                }
                                                            }
                                                            {%- endfor %}

                                                        ]
                                                    }
                                                }
                                                {%- endfor %}

                                            ]
                                        }
                                    }
                                    {%- endfor %}

                                ]
                            }
                        }
                        {%- endfor %}

                    ]
                }
            }
            {%- endfor %}

        ]
    }
}
