{
    "epIpAgingP": {
        "attributes": {
            "adminSt": "{{ apic.fabric_policies.ip_aging | default(defaults.apic.fabric_policies.ip_aging) }}",
            "dn": "uni/infra/ipAgingP-default"
        }
    }
}