{
    "isisDomPol": {
        "attributes": {
            "dn": "uni/fabric/isisDomP-default",
            "redistribMetric": "{{ apic.fabric_policies.fabric_isis_redistribute_metric | default(defaults.apic.fabric_policies.fabric_isis_redistribute_metric) }}"
        }
    }
}