{
    "l2InstPol": {
        "attributes": {
            "annotation": "orchestrator:aac",
            "dn": "uni/fabric/l2pol-default",
            "name": "default",
            "fabricMtu": "{{ apic.fabric_policies.l2_port_mtu | default(defaults.apic.fabric_policies.l2_port_mtu) }}"
        }
    }
}