{
    "infraPortTrackPol": {
        "attributes": {
            "adminSt": "{{ apic.fabric_policies.port_tracking.admin_state | default(defaults.apic.fabric_policies.port_tracking.admin_state) | cisco.aac.aac_bool("on") }}",
            "delay": "{{ apic.fabric_policies.port_tracking.delay | default(defaults.apic.fabric_policies.port_tracking.delay) }}",
            "dn": "uni/infra/trackEqptFabP-default",
            "minlinks": "{{ apic.fabric_policies.port_tracking.min_links | default(defaults.apic.fabric_policies.port_tracking.min_links) }}"
        }
    }
}