{
    "latencyPtpMode": {
        "attributes": {
            "annotation": "orchestrator:aac",
            "dn": "uni/fabric/ptpmode",
            "state": "{{ apic.fabric_policies.ptp_admin_state | default(defaults.apic.fabric_policies.ptp_admin_state) | cisco.aac.aac_bool("enabled") }}"
        }
    }
}