{
    "fmcastSystemGIPoPol": {
        "attributes": {
            "dn": "uni/infra/systemgipopol",
            "useConfiguredSystemGIPo": "{{ apic.fabric_policies.use_infra_gipo | default(defaults.apic.fabric_policies.use_infra_gipo) | cisco.aac.aac_bool("enabled") }}"
        }
    }
}