{
    "aaaUserEp": {
        "attributes": {
            "dn": "uni/userext"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- for user in apic.fabric_policies.aaa.users | default([]) %}{{ comma1() }}
            {
                "aaaUser": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "accountStatus": "{{ user.status | default(defaults.apic.fabric_policies.aaa.users.status) }}",
                        "certAttribute": "{{ user.certificate_name | default() }}",
                        "clearPwdHistory": "no",
                        "descr": "{{ user.description | default() }}",
                        "dn": "uni/userext/user-{{ user.username }}",
                        "email": "{{ user.email | default() }}",
                        "expires": "{{ user.expires | default(defaults.apic.fabric_policies.aaa.users.expires) | cisco.aac.aac_bool("yes") }}",
                        {% if user.expires | default(defaults.apic.fabric_policies.aaa.users.expires) | cisco.aac.aac_bool("yes") == 'yes' %}
                        "expiration": "{{ user.expire_date | default() }}",
                        {% endif %}
                        "firstName": "{{ user.first_name | default() }}",
                        "lastName": "{{ user.last_name | default() }}",
                        "name": "{{ user.username }}",
                        "pwd": "{{ user.password }}",
                        "phone": "{{ user.phone | default() }}",
                        "childAction": "deleteNonPresent"
                    },
                    "children": [
                        {%- set comma2 = joiner(",") %}
                        {%- for domain in user.domains | default([]) %}{{ comma2() }}
                        {
                            "aaaUserDomain": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "name": "{{ domain.name }}",
                                    "childAction": "deleteNonPresent"
                                },
                                "children": [
                                    {%- set comma3 = joiner(",") %}
                                    {%- for role in domain.roles | default([]) %}{{ comma3() }}
                                    {
                                        "aaaUserRole": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "name": "{{ role.name }}",
                                                "privType": "{% if role.privilege_type | default(defaults.apic.fabric_policies.aaa.users.domains.roles.privilege_type) == "write" %}writePriv{% else %}readPriv{% endif %}"
                                            }
                                        }
                                    }
                                    {%- endfor %}

                                ]
                            }
                        }
                        {%- endfor %}
                        {%- for cert in user.certificates | default([]) %}{{ comma2() }}
                        {
                            "aaaUserCert": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "name": "{{ cert.name }}",
                                    "data": "{{ cert.data }}"
                                }
                            }
                        }
                        {%- endfor %}
                        {%- for key in user.ssh_keys | default([]) %}{{ comma2() }}
                        {
                            "aaaSshAuth": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "name": "{{ key.name }}",
                                    "data": "{{ key.data }}"
                                }
                            }
                        }
                        {%- endfor %}

                    ]
                }
            }
            {%- endfor %}

        ]
    }
}