{
    "infraInfra": {
        "attributes": {"dn": "uni/infra"},
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- if apic.auto_generate_switch_pod_profiles | default(defaults.apic.auto_generate_switch_pod_profiles) | cisco.aac.aac_bool("enabled") == "enabled" or apic.auto_generate_access_leaf_switch_interface_profiles | default(defaults.apic.auto_generate_access_leaf_switch_interface_profiles) | cisco.aac.aac_bool("enabled") == "enabled" %}
            {%- for node in apic.node_policies.nodes | default([]) %}
            {%- if node.role == "leaf" %}
            {%- set leaf_switch_profile_name = (node.id ~ ":" ~ node.name) | regex_replace("^(?P<id>.+):(?P<name>.+)$", (apic.access_policies.leaf_switch_profile_name | default(defaults.apic.access_policies.leaf_switch_profile_name))) %}
            {%- set leaf_interface_profile_name = (node.id ~ ":" ~ node.name) | regex_replace("^(?P<id>.+):(?P<name>.+)$", (apic.access_policies.leaf_interface_profile_name | default(defaults.apic.access_policies.leaf_interface_profile_name))) %}
            {%- set leaf_switch_selector_name = (node.id ~ ":" ~ node.name) | regex_replace("^(?P<id>.+):(?P<name>.+)$", (apic.access_policies.leaf_switch_selector_name | default(defaults.apic.access_policies.leaf_switch_selector_name))) %}{{ comma1() }}
            {
                "infraNodeP": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "name": "{{ leaf_switch_profile_name }}",
                        "dn": "uni/infra/nprof-{{ leaf_switch_profile_name }}",
                        "childAction": "deleteNonPresent"
                    },
                    "children": [
                        {
                            "infraLeafS": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "name": "{{ leaf_switch_selector_name }}",
                                    "type": "range",
                                    "childAction": "deleteNonPresent"
                                },
                                "children": [
                                    {% if node.access_policy_group is defined %}
                                    {% set policy_group_name = node.access_policy_group ~ defaults.apic.access_policies.leaf_switch_policy_groups.name_suffix %}
                                    {
                                        "infraRsAccNodePGrp": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "tDn": "uni/infra/funcprof/accnodepgrp-{{ policy_group_name }}"
                                            }
                                        }
                                    },
                                    {% endif %}
                                    {
                                        "infraNodeBlk": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "from_": "{{ node.id }}",
                                                "name": "{{ node.id }}",
                                                "to_": "{{ node.id }}"
                                            }
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "infraRsAccPortP": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "tDn": "uni/infra/accportprof-{{ leaf_interface_profile_name }}"
                                }
                            }
                        }
                    ]
                }
            }
            {%- endif %}
            {%- endfor %}
            {%- endif %}
            {%- for prof in apic.access_policies.leaf_switch_profiles | default([]) %}
            {%- set leaf_switch_profile_name = prof.name ~ defaults.apic.access_policies.leaf_switch_profiles.name_suffix %}{{ comma1() }}
            {
                "infraNodeP": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "name": "{{ leaf_switch_profile_name }}",
                        "dn": "uni/infra/nprof-{{ leaf_switch_profile_name }}",
                        "childAction": "deleteNonPresent"
                    },
                    "children": [
                        {%- set comma2 = joiner(",") %}
                        {%- for sel in prof.selectors | default([]) %}
                        {%- set leaf_switch_selector_name = sel.name ~ defaults.apic.access_policies.leaf_switch_profiles.selectors.name_suffix %}{{ comma2() }}
                        {
                            "infraLeafS": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "name": "{{ leaf_switch_selector_name }}",
                                    "type": "range",
                                    "childAction": "deleteNonPresent"
                                },
                                "children": [
                                    {% set comma3 = joiner(",") %}
                                    {% if sel.policy is defined %}
                                    {% set policy_group_name = sel.policy ~ defaults.apic.access_policies.leaf_switch_policy_groups.name_suffix %}{{ comma3() }}
                                    {
                                        "infraRsAccNodePGrp": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "tDn": "uni/infra/funcprof/accnodepgrp-{{ policy_group_name }}"
                                            }
                                        }
                                    }
                                    {%- endif %}
                                    {%- for blk in sel.node_blocks | default([]) %}
                                    {%- set block_name = blk.name ~ defaults.apic.access_policies.leaf_switch_profiles.selectors.node_blocks.name_suffix %}{{ comma3() }}
                                    {
                                        "infraNodeBlk": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "from_": "{{ blk.from }}",
                                                "name": "{{ block_name }}",
                                                "to_": "{{ blk.to | default(blk.from) }}"
                                            }
                                        }
                                    }
                                    {%- endfor %}

                                ]
                            }
                        }
                        {%- endfor %}
                        {%- for intp in prof.interface_profiles | default([]) %}
                        {%- set leaf_interface_profile_name = intp ~ defaults.apic.access_policies.leaf_interface_profiles.name_suffix %}{{ comma2() }}
                        {
                            "infraRsAccPortP": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "tDn": "uni/infra/accportprof-{{ leaf_interface_profile_name }}"
                                }
                            }
                        }
                        {%- endfor %}

                    ]
                }
            }
            {%- endfor %}

        ]
    }
}