{
    "infraInfra": {
        "attributes": {
            "dn": "uni/infra"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- if apic.new_interface_configuration | default(defaults.apic.new_interface_configuration) is false %}
            {%- if apic.auto_generate_switch_pod_profiles | default(defaults.apic.auto_generate_switch_pod_profiles) | cisco.aac.aac_bool("enabled") == "enabled" or apic.auto_generate_access_leaf_switch_interface_profiles | default(defaults.apic.auto_generate_access_leaf_switch_interface_profiles) | cisco.aac.aac_bool("enabled") == "enabled" %}
            {%- for node in apic.node_policies.nodes | default([]) %}
            {%- if node.role == "leaf" %}
            {%- set leaf_interface_profile_name = (node.id ~ ":" ~ node.name) | regex_replace("^(?P<id>.+):(?P<name>.+)$", (apic.access_policies.leaf_interface_profile_name | default(defaults.apic.access_policies.leaf_interface_profile_name))) %}{{ comma1() }}
            {
                "infraAccPortP": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "name": "{{ leaf_interface_profile_name }}",
                        "dn": "uni/infra/accportprof-{{ leaf_interface_profile_name }}"
                    }
                }
            }
            {%- endif %}
            {%- endfor %}
            {%- endif %}
            {%- for prof in apic.access_policies.leaf_interface_profiles | default([]) %}
            {%- set leaf_interface_profile_name = prof.name ~ defaults.apic.access_policies.leaf_interface_profiles.name_suffix %}{{ comma1() }}
            {
                "infraAccPortP": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "name": "{{ leaf_interface_profile_name }}",
                        "dn": "uni/infra/accportprof-{{ leaf_interface_profile_name }}",
                        "childAction": "deleteNonPresent"
                    },
                    "children": [
                        {%- set comma2 = joiner(",") %}
                        {%- for sel in prof.selectors | default([]) %}
                        {%- set leaf_interface_selector_name = sel.name ~ defaults.apic.access_policies.leaf_interface_profiles.selectors.name_suffix %}{{ comma2() }}
                        {
                            "infraHPortS": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "dn": "uni/infra/accportprof-{{ leaf_interface_profile_name }}/hports-{{ leaf_interface_selector_name }}-typ-range",
                                    "name": "{{ leaf_interface_selector_name }}",
                                    "type": "range",
                                    "childAction": "deleteNonPresent"
                                },
                                "children": [
                                    {% set comma3 = joiner(",") %}
                                    {% if sel.fex_id is defined %}
                                    {% set fex_profile_name = sel.fex_profile ~ defaults.apic.access_policies.fex_interface_profiles.name_suffix %}{{ comma3() }}
                                    {
                                        "infraRsAccBaseGrp": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "fexId": "{{ sel.fex_id }}",
                                                "tDn": "uni/infra/fexprof-{{ fex_profile_name }}/fexbundle-{{ fex_profile_name }}"
                                            }
                                        }
                                    }
                                    {%- elif sel.policy_group is defined %}{{ comma3() }}
                                    {
                                        "infraRsAccBaseGrp": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                {% set query = "leaf_interface_policy_groups[?name=='" ~ sel.policy_group ~ "'].type[]" %}
                                                {% set type = (apic.access_policies | community.general.json_query(query)) %}
                                                {% set policy_group_name = sel.policy_group ~ defaults.apic.access_policies.leaf_interface_policy_groups.name_suffix %}
                                                {% if type[0] in ["pc", "vpc"] %}
                                                "tDn": "uni/infra/funcprof/accbundle-{{ policy_group_name }}"
                                                {% elif type[0] == "breakout" %}
                                                "tDn": "uni/infra/funcprof/brkoutportgrp-{{ policy_group_name }}"
                                                {% else %}
                                                "tDn": "uni/infra/funcprof/accportgrp-{{ policy_group_name }}"
                                                {% endif %}
                                            }
                                        }
                                    }
                                    {%- endif %}
                                    {%- for blk in sel.port_blocks | default([]) %}
                                    {%- set block_name = blk.name ~ defaults.apic.access_policies.leaf_interface_profiles.selectors.port_blocks.name_suffix %}{{ comma3() }}
                                    {
                                        "infraPortBlk": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "descr": "{{ blk.description | default() }}",
                                                "fromCard": "{{ blk.from_module | default(defaults.apic.access_policies.leaf_interface_profiles.selectors.port_blocks.from_module) }}",
                                                "fromPort": "{{ blk.from_port }}",
                                                "name": "{{ block_name }}",
                                                "toCard": "{{ blk.to_module | default(blk.from_module | default(defaults.apic.access_policies.leaf_interface_profiles.selectors.port_blocks.from_module)) }}",
                                                "toPort": "{{ blk.to_port | default(blk.from_port) }}"
                                            }
                                        }
                                    }
                                    {%- endfor %}
                                    {%- for sub_blk in sel.sub_port_blocks | default([]) %}
                                    {%- set sub_block_name = sub_blk.name ~ defaults.apic.access_policies.leaf_interface_profiles.selectors.sub_port_blocks.name_suffix %}{{ comma3() }}
                                    {
                                        "infraSubPortBlk": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "descr": "{{ sub_blk.description | default() }}",
                                                "fromCard": "{{ sub_blk.from_module | default(defaults.apic.access_policies.leaf_interface_profiles.selectors.sub_port_blocks.from_module) }}",
                                                "fromPort": "{{ sub_blk.from_port }}",
                                                "name": "{{ sub_block_name }}",
                                                "toCard": "{{ sub_blk.to_module | default(sub_blk.from_module | default(defaults.apic.access_policies.leaf_interface_profiles.selectors.sub_port_blocks.from_module)) }}",
                                                "toPort": "{{ sub_blk.to_port | default(sub_blk.from_port) }}",
                                                "fromSubPort": "{{ sub_blk.from_sub_port }}",
                                                "toSubPort": "{{ sub_blk.to_sub_port | default(sub_blk.from_sub_port) }}"                                              
                                            }
                                        }
                                    }
                                    {%- endfor %}

                                ]
                            }
                        }
                        {%- endfor %}

                    ]
                }
            }
            {%- endfor %}
            {%- endif %}

        ]
    }
}