{
    "infraInfra": {
        "attributes": {
            "dn": "uni/infra"
        },
        "children": [
            {%- if apic.new_interface_configuration | default(defaults.apic.new_interface_configuration) %}
            {%- set comma1 = joiner(",") %}
            {%- for node in apic.node_policies.nodes | default([]) %}
            {%- if node.access_policy_group is defined %}
            {%- if node.role == "leaf" %}
            {%- set policy_group_name = node.access_policy_group ~ defaults.apic.access_policies.leaf_switch_policy_groups.name_suffix %}{{ comma1() }}
            {
                "infraNodeConfig": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "dn": "uni/infra/nodeconfnode-{{ node.id }}",
                        "assocGrp": "uni/infra/funcprof/accnodepgrp-{{ policy_group_name }}",
                        "node": "{{ node.id }}"
                    }
                }
            }
            {%- elif node.role == "spine" %}
            {%- set policy_group_name = node.access_policy_group ~ defaults.apic.access_policies.spine_switch_policy_groups.name_suffix %}{{ comma1() }}
            {
                "infraNodeConfig": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "dn": "uni/infra/nodeconfnode-{{ node.id }}",
                        "assocGrp": "uni/infra/funcprof/spaccnodepgrp-{{ policy_group_name }}",
                        "node": "{{ node.id }}"
                    }
                }
            }
            {%- endif %}
            {%- endif %}
            {%- endfor %}
            {%- endif %}

        ]
    }
}
