{
    "infraInfra": {
        "attributes": {
            "dn": "uni/infra"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- for span in apic.access_policies.span.destination_groups | default([]) %}{{ comma1() }}
            {% set span_name = span.name ~ defaults.apic.access_policies.span.destination_groups.name_suffix %}
            {
                "spanDestGrp": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "descr": "{{ span.description | default() }}",
                        "dn": "uni/infra/destgrp-{{ span_name }}",
                        "name": "{{ span_name }}",
                        "childAction": "deleteNonPresent"
                    },
                    "children": [
                        {
                            "spanDest": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "descr": "",
                                    "name": "{{ span_name }}",
                                    "childAction": "deleteNonPresent"
                                },
                                "children": [
                                {%- set comma2 = joiner(",") %}
                                {%- if span.node_id is defined or span.channel is defined %}{{ comma2() }}
                                    {
                                        "spanRsDestPathEp": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "mtu": "{{ span.mtu | default(defaults.apic.access_policies.span.destination_groups.mtu) }}",
                                                {% if span.node_id is defined and span.channel is not defined %}
                                                    {% set query = "nodes[?id==`" ~ span.node_id ~ "`].pod" %}
                                                    {% set pod = span.pod_id | default(((apic.node_policies | default()) | community.general.json_query(query))[0] | default('1')) %}
                                                    {% if span.sub_port is defined %}
                                                "tDn": "topology/pod-{{ pod }}/paths-{{ span.node_id }}/pathep-[eth{{ span.module | default(defaults.apic.access_policies.span.destination_groups.module) }}/{{ span.port }}/{{ span.sub_port }}]"
                                                    {%else%}
                                                "tDn": "topology/pod-{{ pod }}/paths-{{ span.node_id }}/pathep-[eth{{ span.module | default(defaults.apic.access_policies.span.destination_groups.module) }}/{{ span.port }}]"
                                                    {% endif %}                                                    
                                                {% else %}
                                                    {% set policy_group_name = span.channel ~ defaults.apic.access_policies.leaf_interface_policy_groups.name_suffix %}
                                                    {% set query_sub_ports = "nodes[?interfaces[?sub_ports[?policy_group==`" ~ span.channel ~ "`]]].id" %}
                                                    {% set id_sub_ports = (apic.interface_policies | default() | community.general.json_query(query_sub_ports)) %}
                                                    {% set query_ports = "nodes[?interfaces[?policy_group==`" ~ span.channel ~ "`]].id" %}
                                                    {% set id_ports = (apic.interface_policies | default() | community.general.json_query(query_ports)) %}
                                                    {% if id_sub_ports | length > 0 %}
                                                        {% if span.node_id is defined %}
                                                            {% set node = span.node_id %}
                                                        {% else %}
                                                            {% set query = "nodes[?interfaces[?sub_ports[?policy_group==`" ~ span.channel ~ "`]]].id" %}
                                                            {% set node = (apic.interface_policies | default() | community.general.json_query(query))[0] %}
                                                        {% endif %}
                                                        {% set query = "nodes[?id==`" ~ node ~ "`].pod" %}
                                                        {% set pod = span.pod_id | default(((apic.node_policies | default()) | community.general.json_query(query))[0] | default('1')) %}
                                                "tDn": "topology/pod-{{ pod }}/paths-{{ node }}/pathep-[{{ policy_group_name }}]"                                                 
                                                    {% elif id_ports | length > 0 %}
                                                        {% if span.node_id is defined %}
                                                            {% set node = span.node_id %}
                                                        {% else %}
                                                            {% set query = "nodes[?interfaces[?policy_group==`" ~ span.channel ~ "`]].id" %}
                                                            {% set node = (apic.interface_policies | default() | community.general.json_query(query))[0] %}
                                                        {% endif %}
                                                        {% set query = "nodes[?id==`" ~ node ~ "`].pod" %}
                                                        {% set pod = span.pod_id | default(((apic.node_policies | default()) | community.general.json_query(query))[0] | default('1')) %}
                                                "tDn": "topology/pod-{{ pod }}/paths-{{ node }}/pathep-[{{ policy_group_name }}]"
                                                    {% endif %}
                                                {% endif %}
                                            }
                                        }
                                    }
                                    {%- endif %} 

                                    {%- if span.tenant is defined and span.application_profile is defined and span.endpoint_group is defined %}{{ comma2() }}
                                    {% set application_profile_name = span.application_profile ~ defaults.apic.tenants.application_profiles.name_suffix %}
                                    {% set endpoint_group_name = span.endpoint_group ~ defaults.apic.tenants.application_profiles.endpoint_groups.name_suffix %}
                                    {
                                        "spanRsDestEpg": {
                                            "attributes":{
                                                "annotation": "orchestrator:aac",
                                                "ip": "{{ span.ip }}",
                                                "srcIpPrefix": "{{ span.source_prefix }}",
                                                "dscp": "{{ span.dscp | default(defaults.apic.access_policies.span.destination_groups.dscp) }}",
                                                "flowId": "{{ span.flow_id | default(defaults.apic.access_policies.span.destination_groups.flow_id) }}",
                                                "mtu": "{{ span.mtu | default(defaults.apic.access_policies.span.destination_groups.mtu) }}",
                                                "ttl": "{{ span.ttl | default(defaults.apic.access_policies.span.destination_groups.ttl) }}",
                                                "ver": "ver{{ span.version | default(defaults.apic.access_policies.span.destination_groups.version) }}",
                                                "verEnforced": "{{ span.enforce_version | default(defaults.apic.access_policies.span.destination_groups.enforce_version) | cisco.aac.aac_bool("yes") }}",
                                                "tDn": "uni/tn-{{ span.tenant  }}/ap-{{ application_profile_name }}/epg-{{ endpoint_group_name }}"
                                            }
                                        }
                                    }
                                    {%- endif %}

                                ]
                            }
                        }
                    ]
                }
            }            
            {%- endfor %}
            
        ]
    }
}
