{
    "infraFuncP": {
        "attributes": {
            "dn": "uni/infra/funcprof"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- for pg in apic.access_policies.spine_switch_policy_groups | default([]) %}{{ comma1() }}
            {% set policy_group_name = pg.name ~ defaults.apic.access_policies.spine_switch_policy_groups.name_suffix %}
            {
                "infraSpineAccNodePGrp": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "name": "{{ policy_group_name }}",
                        "dn": "uni/infra/funcprof/spaccnodepgrp-{{ policy_group_name }}"
                    },
                    "children": [
                        {% set comma2 = joiner(",") %}
                        {% if pg.lldp_policy is defined %}{{ comma2() }}
                        {% set lldp_policy_name = pg.lldp_policy ~ defaults.apic.access_policies.interface_policies.lldp_policies.name_suffix %}
                        {
                            "infraRsSpinePGrpToLldpIfPol": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "tnLldpIfPolName": "{{ lldp_policy_name }}"
                                }
                            }
                        }
                        {%- endif %}
                        {%- if pg.bfd_ipv4_policy is defined %}{{ comma2() }}
                        {% set bfd_ipv4_policy_name = pg.bfd_ipv4_policy ~ defaults.apic.access_policies.switch_policies.bfd_ipv4_policies.name_suffix %}
                        {
                            "infraRsSpineBfdIpv4InstPol": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "tnBfdIpv4InstPolName": "{{ bfd_ipv4_policy_name }}"
                                }
                            }
                        }
                        {%- endif %}
                        {%- if pg.bfd_ipv6_policy is defined %}{{ comma2() }}
                        {% set bfd_ipv6_policy_name = pg.bfd_ipv6_policy ~ defaults.apic.access_policies.switch_policies.bfd_ipv6_policies.name_suffix %}
                        {
                            "infraRsSpineBfdIpv6InstPol": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "tnBfdIpv6InstPolName ": "{{ bfd_ipv6_policy_name }}"
                                }
                            }
                        }
                        {%- endif %}
                    ]
                }
            }
            {%- endfor %}

        ]
    }
}