{
    "infraFuncP": {
        "attributes": {
            "dn": "uni/infra/funcprof"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- for pg in apic.access_policies.spine_interface_policy_groups | default([]) %}{{ comma1() }}
            {% set policy_group_name = pg.name ~ defaults.apic.access_policies.spine_interface_policy_groups.name_suffix %}
            {
                "infraSpAccPortGrp": {
                    "attributes": {
                        "name": "{{ policy_group_name }}",
                        "dn": "uni/infra/funcprof/spaccportgrp-{{ policy_group_name }}",
                        "childAction": "deleteNonPresent"
                    },
                    "children": [
                        {% set comma2 = joiner(",") %}
                        {% if pg.link_level_policy is defined %}{{ comma2() }}
                        {% set link_level_policy_name = pg.link_level_policy ~ defaults.apic.access_policies.interface_policies.link_level_policies.name_suffix %}
                        {
                            "infraRsHIfPol": {
                                "attributes": {
                                    "tnFabricHIfPolName": "{{ link_level_policy_name }}"
                                }
                            }
                        }
                        {%- endif %}
                        {% if pg.cdp_policy is defined %}{{ comma2() }}
                        {% set cdp_policy_name = pg.cdp_policy ~ defaults.apic.access_policies.interface_policies.cdp_policies.name_suffix %}
                        {
                            "infraRsCdpIfPol": {
                                "attributes": {
                                    "tnCdpIfPolName": "{{ cdp_policy_name }}"
                                }
                            }
                        }
                        {%- endif %}
                        {% if pg.aaep is defined %}{{ comma2() }}
                        {% set aaep_name = pg.aaep ~ defaults.apic.access_policies.aaeps.name_suffix %}
                        {
                            "infraRsAttEntP": {
                                "attributes": {
                                    "tDn": "uni/infra/attentp-{{ aaep_name }}"
                                }
                            }
                        }
                        {%- endif %}

                    ]
                }
            }
            {%- endfor %}

        ]
    }
}