{
"dbgOngoingAcMode": {
                "attributes": {
                    "adminSt": "{{ apic.access_policies.operations.atomic_counters.admin_state | default(defaults.apic.access_policies.operations.atomic_counters.admin_state) | cisco.aac.aac_bool("enabled") }}",
                    "annotation": "orchestrator:aac",
                    "descr": "",
                    "dn": "uni/fabric/ogmode",
                    "mode": "{{ apic.access_policies.operations.atomic_counters.mode | default(defaults.apic.access_policies.operations.atomic_counters.mode) }}",
                    "name": "{{ apic.access_policies.operations.atomic_counters.name | default(defaults.apic.access_policies.operations.atomic_counters.name) }}",
                    "nameAlias": "{{ apic.access_policies.operations.atomic_counters.alias }}",
                    "ownerKey": "",
                    {% if apic.access_policies.operations.atomic_counters.user_dom is defined %}
                    "ownerTag": "",
                    "userdom": "{{ apic.access_policies.operations.atomic_counters.user_dom | default(defaults.apic.access_policies.operations.atomic_counters.user_dom) }}"
                    {% else %}
                    "ownerTag": ""
                    {% endif %}
                }

        }
}