{
    "infraInfra": {
        "attributes": {
            "dn": "uni/infra"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- for policy in apic.access_policies.interface_policies.port_channel_policies | default([]) %}{{ comma1() }}
            {% set port_channel_policy_name = policy.name ~ defaults.apic.access_policies.interface_policies.port_channel_policies.name_suffix %}
            {% set ctrl = [] %}
            {% if policy.fast_select_standby | default(defaults.apic.access_policies.interface_policies.port_channel_policies.fast_select_standby) | cisco.aac.aac_bool("yes") == "yes" %}{% set ctrl = ctrl + [("fast-sel-hot-stdby")] %}{% endif %}
            {% if policy.graceful_convergence | default(defaults.apic.access_policies.interface_policies.port_channel_policies.graceful_convergence) | cisco.aac.aac_bool("yes") == "yes" %}{% set ctrl = ctrl + [("graceful-conv")] %}{% endif %}
            {% if policy.load_defer | default(defaults.apic.access_policies.interface_policies.port_channel_policies.load_defer) | cisco.aac.aac_bool("yes") == "yes" %}{% set ctrl = ctrl + [("load-defer")] %}{% endif %}
            {% if policy.suspend_individual | default(defaults.apic.access_policies.interface_policies.port_channel_policies.suspend_individual) | cisco.aac.aac_bool("yes") == "yes" %}{% set ctrl = ctrl + [("susp-individual")] %}{% endif %}
            {% if policy.symmetric_hash | default(defaults.apic.access_policies.interface_policies.port_channel_policies.symmetric_hash) | cisco.aac.aac_bool("yes") == "yes" %}{% set ctrl = ctrl + [("symmetric-hash")] %}{% endif %}
            {
                "lacpLagPol": {
                    "attributes": {
                        "ctrl": "{{ ctrl | join(',') }}",
                        "maxLinks": "{{ policy.max_links | default(defaults.apic.access_policies.interface_policies.port_channel_policies.max_links) }}",
                        "minLinks": "{{ policy.min_links | default(defaults.apic.access_policies.interface_policies.port_channel_policies.min_links) }}",
                        "mode": "{{ policy.mode }}",
                        "name": "{{ port_channel_policy_name }}",
                        "dn": "uni/infra/lacplagp-{{ port_channel_policy_name }}",
                        "childAction": "deleteNonPresent"
                    }
                    {% if policy.symmetric_hash | default(defaults.apic.access_policies.interface_policies.port_channel_policies.symmetric_hash) | cisco.aac.aac_bool("yes") == "yes" and policy.hash_key is defined %},
                    "children": [
                        {
                            "l2LoadBalancePol": {
                                "attributes": {
                                    "hashFields": "{{ policy.hash_key }}"
                                }
                            }
                        }
                    ]
                    {% endif %}
                }
            }
            {%- endfor %}

        ]
    }
}