{% if apic.access_policies.routed_domains is not defined %}
{
    "infraInfra": {
        "attributes": {
            "dn": "uni/infra"
        }
    }
}
{% else %}
{
    "polUni": {
        "attributes": {
            "dn": "uni"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- for domain in apic.access_policies.routed_domains | default([]) %}{{ comma1() }}
            {% set domain_name = domain.name ~ defaults.apic.access_policies.routed_domains.name_suffix %}
            {
                "l3extDomP": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "name": "{{ domain_name }}",
                        "dn": "uni/l3dom-{{ domain_name }}"
                    },
                    "children": [
                        {%- set comma2 = joiner(",") %}{{ comma2() }} 
                        {
                            "infraRsVlanNs": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    {% set vlan_pool_name = domain.vlan_pool ~ defaults.apic.access_policies.vlan_pools.name_suffix %}
                                    {% set query = "vlan_pools[?name==`" ~ vlan_pool_name ~ "`].allocation[]" %}
                                    {% set allocation = (apic.access_policies | community.general.json_query(query))[0] | default(defaults.apic.access_policies.routed_domains.allocation) %}
                                    "tDn": "uni/infra/vlanns-[{{ vlan_pool_name }}]-{{ allocation }}"
                                }
                            }
                        }
                        {%- for sd in domain.security_domains | default([]) %}{{ comma2() }}
                        {
                            "aaaDomainRef": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "name": "{{ sd }}",
                                    "dn": "uni/l3dom-{{ domain_name }}/domain-{{ sd }}"
                                }
                            }
                        }
                        {%- endfor %}
                        
                    ]
                }
            }
            {%- endfor %}

        ]
    }
}
{% endif %}
