{
    "infraInfra": {
        "attributes": {
            "dn": "uni/infra"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- for policy in apic.access_policies.interface_policies.spanning_tree_policies | default([]) %}{{ comma1() }}
            {% set spanning_tree_policy_name = policy.name ~ defaults.apic.access_policies.interface_policies.spanning_tree_policies.name_suffix %}
            {% set ctrl = [] %}
            {% if policy.bpdu_filter | default(defaults.apic.access_policies.interface_policies.spanning_tree_policies.bpdu_filter) | cisco.aac.aac_bool("yes") == "yes" %}{% set ctrl = ctrl + [("bpdu-filter")] %}{% endif %}
            {% if policy.bpdu_guard | default(defaults.apic.access_policies.interface_policies.spanning_tree_policies.bpdu_guard) | cisco.aac.aac_bool("yes")  == "yes" %}{% set ctrl = ctrl + [("bpdu-guard")] %}{% endif %}
            {
                "stpIfPol": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "name": "{{ spanning_tree_policy_name }}",
                        "dn": "uni/infra/ifPol-{{ spanning_tree_policy_name }}",
                        "ctrl": "{{ ctrl | join(',') }}"
                    }
                }
            }
            {%- endfor %}

        ]
    }
}